.options {
	display: none;
	position: absolute;
	top: calc(100% + 18px);
	left: 0;
	width: 100%;
	max-height: 236px;
	border-radius: $rad-input;
	border: 1px solid $border-primary;
	z-index: 2;
	overflow-y: scroll;

	&.active {
		display: flex
	}
}

.option {
	font-style: $fs-md;
	line-height: $lh-base;
	letter-spacing: 0.5px;
	color: $M3-sys-light-on-surface;
	padding: 12px 25px;
	cursor: pointer;
	background-color: $white;
	transition: background-color ease-out $tr;

	&:hover {
		background-color: $bg-brown-hover
	}
}