.input-wrapper.pass-visible .pass-toggle {
	display: none;

	&.crossed {
		display: block
	}
}

.pass-toggle {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 16px;
	display: block;
	width: 24px;
	cursor: pointer;
	transition: opacity ease-out $tr;

	&:hover {
		opacity: 0.7
	}

	&.crossed {
		display: none
	}
}