@import 'loader';

* {
	outline: none;
	box-sizing: border-box
}

body, html {
	height: 100%;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	margin: 0
}

body {
	position: relative;
	min-width: 300px;
	display: flex;
	height: auto;
	font-family: $ff;
	font-size: $fs-sm;
	line-height: $lh-base;
	color: $black;
	background-color: $white;

	@media (min-width: $lg) {
		font-size: $fs-md;
		line-height: $lh-4
	}

	&.theme-dark {
		background-color: $very-dark-green
	}
}

img {
	max-width: 100%;
	height: auto
}

ul {
	margin: 0;
	padding: 0;
	list-style: none
}

.wrapper {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 100%;
	min-height: 100vh;
	overflow: hidden;

	.footer {
		margin-top: auto
	}
}

.read-more {
	color: $accent;
	cursor: pointer;
	margin-left: 3px;
	transition: color ease-out $tr;

	&:hover {
		color: $accent-bright
	}
}

.footer-item-custom{
	font-family: Grafita !important;
	font-weight: 400 !important;
	font-size: 14px;
	line-height: 100%;
	letter-spacing: 0%;

	&:hover{
		a{
			opacity: .8;
		}
	}
	
	a{
		display: inline-flex;
		align-items: center;
		color: #C3DAE2 !important;
		white-space:nowrap;

		svg{
			margin-right: 5px;
		}
	}
}

.footer-item-custom-sub-menu {
	font-family: Grafita !important;
	font-weight: 400 !important;
	font-size: 14px;
	line-height: 100%;
	letter-spacing: 0%;
	position: relative;

	.sub-menu {
		opacity: 0;
		visibility: hidden;
		transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s;
		position: absolute;
		top: 100%;
		left: 0;
		background: white;
		box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
		z-index: 999;
		min-width: 180px;
		padding: 0;
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
		border-radius: 15px;

				li{
					display: flex;
        			margin: auto;
					align-items: center;
					justify-content: center;
					height: 30px;
					width: 100%;
					cursor: pointer;

					a{
						color: black !important;
					}

					&:hover{
						background: #2f2b431a;
					}
				}
	}

	&:hover {
		a{
			opacity: .8;
			svg{
				transform: rotate(-180deg);
			}
		}
		.sub-menu {
				opacity: 1;
				visibility: visible;
		}
	}

	a {
		display: inline-flex;
		align-items: center;
		color: #C3DAE2 !important;
		white-space: nowrap;

		svg {
			order: 2;
			margin-right: 5px;
			transition: transform 0.3s ease;
		}
	}
}

.footer-item-custom-error{
	font-family: Grafita !important;
	font-weight: 400 !important;
	font-size: 14px;
	line-height: 100%;
	letter-spacing: 0%;
	
	&:hover{
		a{
			opacity: .8;
		}
	}
	
	a{
		display: inline-flex;
		align-items: center;
		color: #4F5049 !important;
		white-space:nowrap;
		svg{
			margin-left: 5px;
			order: 2;
		}
	}
}

.create-new-memory-container{
	padding: 60px 80px;
	border-radius: 30px;
	max-width: 635px;
	margin: auto;
	background: #FFFFFF;
	display: flex;
    flex-direction: column;
    align-items: center;

	@media screen and (max-width:550px) and (min-width:361px) {
		padding: 30px 40px;
	}

	@media screen and (max-width:360px) {
		padding: 20px 20px;
	}

	.profile-memories-title{
		margin-bottom: 20px !important;
	}

	.profile-memories-note{
		margin-bottom: 30px;
	}

	.memory-form{
		.flex{
			.bottom-form-block{
				display: flex;
				gap: 20px;
				width: 100%;
				flex-direction: row;
				align-items: center;
				justify-content: space-between;
			}

			@media screen and (max-width:590px) {
				.bottom-form-block{
					flex-direction: column;
					gap: 0px;
				}
			}
		}
	}

	.memory-form-btn{
		width: 100%;
		margin-top: 24px;
	}
}

.memories-form-page{
	padding: 100px 40px 30px 40px !important;
	.profile-memories-inner{
		margin:auto !important;
	}

	@media screen and (max-width:450px) {
		padding: 100px 20px 30px 20px !important;
	}

	@media screen and (max-width:360px) {
		padding: 100px 10px 30px 10px !important;
	}
}

.profile-memmories-title-without-text{
	margin: auto !important;
}

.contact-btn-custom {
	position: fixed;
	top: 50%;
	right: -80px;
	transform: translateY(-50%) rotate(-90deg);
	transform-origin: center center;
	padding: 0 15px;
	background-color: rgb(1, 28, 26);
	color: rgb(255, 255, 255);
	border: none;
	cursor: pointer;
	font-size: 16px;
	font-weight: 600;
	line-height: 30px;
	height: 34px;
	border-radius: 5px 5px 0 0;
	box-shadow: 0 0 3px #9b9b9b;
	user-select: none;
	white-space: nowrap;
	-webkit-font-smoothing: antialiased;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
	text-align: center;
	-webkit-appearance: none;
	transition: transform 0.15s ease-in-out;
	margin: 0 10px;
	z-index: 9999;
}

.contact-btn-custom:hover {
	transform: translateY(-50%) rotate(-90deg) scale(1.05);
}

.error-date{
	border-color: transparent !important;
	box-shadow: 0 0 0 3px rgba(247, 80, 65, 0.4);
}