.link {
	text-decoration: none;
	transition: opacity ease-out $tr;

	&.bright-yellow {
		color: $bright-yellow
	}

	&:hover {
		opacity: 0.7
	}
}

.btn {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	font-family: $ff;
	font-size: $fs-sm;
	color: $very-dark-green;
	border: none;
	border-radius: $radius-input;
	transition: background-color ease-out $tr;
	cursor: pointer;

	&.full {
		width: 100%
	}

	&.min-width {
		min-width: 190px
	}

	&.sm {
		min-height: 32px;
		padding: 4px 16px 5px
	}

	&.md {
		min-height: 38px;
		padding: 7px 20px 8px
	}

	&.lg {
		min-height: 48px;
		padding: 12px 24px 13px
	}

	&.xl {
		min-height: 48px;
		font-size: 13px;
		line-height: $lh-4;
		padding: 13px 50px;
		border-radius: $radius-input;

		@media (min-width: $md) {
			min-height: 70px;
			font-size: $fs-md;
			padding: 23px 98px;
			border-radius: 20px
		}
	}

	&.primary {
		background-color: $dark-yellow;

		&:hover {
			background-color: $bright-yellow
		}

		&:active {
			background-color: $darkest-yellow
		}

		svg {
			margin-right: 7px
		}
	}

	&.secondary {
		background-color: $light-green;

		&:hover {
			background-color: $light-green-blue
		}

		&:active {
			background-color: $bright-light-green
		}
	}

	&.outlined {
		background-color: transparent;
		border: 0.5px solid $very-dark-green;
		transition:
			background-color ease-out $tr,
			border-color ease-out $tr;

		&:hover,
		&:active {
			background-color: $light-green;
			border-color: $light-green
		}
	}

	&.simple {
		background-color: transparent;
		padding: 0;
		transition: opacity ease-out $tr;

		&:hover {
			opacity: 0.7
		}

		svg {
			margin-right: 9px
		}
	}

	&.gray {
		background-color: $a-bit-blue-white;
		color: $dark-yellow;

		&:hover {
			background-color: #EEF0F1
		}
	}

	&.border-gold {
		border-color: $bright-yellow
	}

	&.hover-gold:hover {
		background-color: $bright-yellow
	}

	&.br-24 {
		border-radius: 24px
	}

	&:disabled {
		background-color: $disabled;
		color: $disabled-text;
		pointer-events: none;

		&:hover {
			background-color: $disabled;
			color: $disabled-text;
		}
	}

	svg {
		display: block;
		width: 16px;
		height: auto
	}
}