@font-face {
	font-display: swap;
	font-family: 'Calvino-Grande';
	src: url('../fonts/Calvino-Grande-Semibold.woff2') format('woff2'),
		url('../fonts/Calvino-Grande-Semibold.woff') format('woff')
}

@font-face {
	font-display: swap;
	font-family: 'Grafita-Normal';
	src: url('../fonts/Grafita-Normal.woff2') format('woff2'),
	url('../fonts/Grafita-Normal.woff') format('woff')
}