fieldset {
	border: none;
	padding: 0;
	margin: 0
}

legend.legend {
	display: block;
	width: 100%;
	color: $light-green;
	margin-bottom: 20px;
	text-align: center;

	@media (min-width: $lg) {
		text-align: left
	}
}

.legend-tip {
	background-color: transparent;
	border: none;
	padding: 0;
	margin-left: 17px;
	cursor: pointer;
	transition: opacity ease-out $tr;

	&:hover {
		opacity: 0.7
	}

	&-text {
		font-size: $fs-sm;
		line-height: 1.6;
		color: #D1AE61
	}

	svg {
		display: block;
		width: 20px;
		height: 20px;
		margin-right: 7px
	}
}

.legend-desc {
	color: $very-dark-green;
	margin: 9px 0 20px
}

label.label-file {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: auto;

	@media (min-width: $md) {
		flex-direction: row;
		align-items: center
	}

	.button.outlined {
		width: 100%;

		@media (min-width: $md) {
			width: auto
		}

		&.added {
			display: none
		}
	}

	.input-icon {
		width: 16px;
		height: 16px
	}

	.label-text {
		padding: 0
	}

	.filename {
		display: block;
		max-width: 123px;
		font-size: $fs-sm;
		color: $green
	}

	&.added .button.outlined {
		display: none;

		&.added {
			display: inline-flex
		}
	}
}

.label-file-wrap-result {
	position: relative;
	width: 170px;
	height: 110px;

	img {
		display: block;
		width: 100%;
		height: 100%;
		object-fit: cover;
		border-radius: $rad-input
	}

	.button {
		position: absolute;
		top: 50%;
		left: 100%;
		transform: translate(11px, -50%)
	}
}

input[type='file'] {
	position: absolute;
	width: 0;
	height: 0;
	opacity: 0;
	pointer-events: none
}

.lostpass-wrapper {
	display: block;
	padding-right: 17px;
	margin-top: 7px;
	text-align: right;

	a {
		font-size: $fs-sm
	}
}

.form-submit {
	padding-bottom: 19px;
	text-align: center
}

.note {
	display: none;
	font-size: $fs-sm;

	&:not(:empty) {
		display: inline-block;
		margin-bottom: 20px
	}
}