fieldset {
	border: none;
	padding: 0;
	margin: 0
}

legend.legend {
	display: block;
	width: 100%;
	color: $light-green;
	margin-bottom: 20px;
	text-align: center;

	@media (min-width: $lg) {
		text-align: left
	}
}

.legend-tip {
	background-color: transparent;
	border: none;
	padding: 0;
	margin-left: 17px;
	cursor: pointer;
	transition: opacity ease-out $tr;

	&:hover {
		opacity: 0.7
	}

	&-text {
		font-size: $fs-sm;
		line-height: 1.6;
		color: #D1AE61
	}

	svg {
		display: block;
		width: 20px;
		height: 20px;
		margin-right: 7px
	}
}

.legend-desc {
	color: $very-dark-green;
	margin: 9px 0 20px
}

label.label {
	&-checkbox {
		position: relative;
		display: block;
		font-size: $fs-xs;
		line-height: 1.16;
		color: $light-green;
		padding-left: 25px;

		&::before,
		&::after {
			content: '';
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			left: 0;
			width: 16px;
			height: 16px;
		}

		&::before {
			display: block;
			background-color: $light-green;
			border-radius: $radius-checkbox;
		}

		&::after {
			display: none;
			background-image: url('../img/check-white.svg');
			background-size: 100%;
			background-position: center;
			background-repeat: no-repeat
		}

		a {
			display: inline;
			color: $bright-yellow;

			&:hover {
				color: $dark-yellow
			}
		}
	}

	&-file {
		display: flex;
		flex-direction: column;
		align-items: flex-start;

		@media (min-width: $md) {
			flex-direction: row;
			align-items: center
		}

		.label-text {
			display: flex;
			width: 100%;
			padding: 11px 16px;
			margin-bottom: 2px;
			border: 0.5px solid $white;
			border-radius: $radius-input;
			cursor: pointer;
			transition: background-color ease-out $tr;

			@media (min-width: $md) {
				display: inline-flex;
				width: auto;
				margin: 0 22px 0 0
			}

			&::before {
				content: '';
				display: block;
				width: 24px;
				height: 24px;
				background-image: url(../img/add-photo.svg);
				background-size: contain;
				background-position: center;
				background-repeat: no-repeat;
				margin-right: 6px
			}

			&:hover {
				background-color: $a-bit-blue-white
			}

			&.added {
				display: none;
				background-color: $a-bit-blue-white
			}

			svg {
				width: 24px;
				height: auto;
				margin-right: 6px
			}
		}

		.filename {
			display: block;
			max-width: 123px;
			font-size: $fs-sm;
			color: $green
		}

		&.added .label-text {
			display: none;

			&.added {
				display: inline-flex
			}
		}
	}
}

input {
	&[type='checkbox'] {
		position: absolute;
		width: 0;
		height: 0;
		opacity: 0;
		pointer-events: none;
		z-index: -10;

		&:checked ~ label {
			&::before {
				background-color: $dark-yellow
			}

			&::after {
				display: flex
			}
		}
	}

	&[type='file'] {
		position: absolute;
		width: 0;
		height: 0;
		opacity: 0;
		pointer-events: none
	}
}

.checkbox-wrapper {
	padding: 0 16px
}

.lostpass-wrapper {
	display: block;
	padding-right: 17px;
	margin-top: 7px;
	text-align: right;

	a {
		font-size: $fs-sm
	}
}

.form-submit {
	padding-bottom: 19px;
	text-align: center
}

.note {
	display: none;
	font-size: $fs-sm;

	&:not(:empty) {
		display: inline-block;
		margin-bottom: 20px
	}
}