fieldset {
	border: none;
	padding: 0;
	margin: 0
}

legend.legend {
	display: block;
	width: 100%;
	color: $white;
	margin-bottom: 20px;
	text-align: center;

	@media (min-width: $lg) {
		text-align: left
	}
}

label.label {
	position: relative;
	display: block;
	margin-bottom: 21px;

	&-checkbox {
		position: relative;
		display: block;
		font-size: $fs-xs;
		line-height: 1.16;
		color: $light-green;
		padding-left: 25px;

		&::before,
		&::after {
			content: '';
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			left: 0;
			width: 16px;
			height: 16px;
		}

		&::before {
			display: block;
			background-color: $light-green;
			border-radius: $radius-checkbox;
		}

		&::after {
			display: none;
			background-image: url('../img/check-white.svg');
			background-size: 100%;
			background-position: center;
			background-repeat: no-repeat
		}

		a {
			display: inline;
			color: $bright-yellow;

			&:hover {
				color: $dark-yellow
			}
		}
	}

	&.error {
		input {
			&[type="text"],
			&[type="password"],
			&[type="email"] {
				color: $error-primary;
				border-color: $error-primary
			}
		}
	}
}

.label-text {
	display: block;
	font-size: $fs-sm;
	color: $light-green;
	padding: 0 16px 10px
}

input {
	&[type="text"],
	&[type="password"],
	&[type="email"] {
		width: 100%;
		height: 48px;
		font-size: $fs-md;
		color: $white;
		background-color: transparent;
		border: 0.5px solid $white;
		border-radius: $radius-input;
		padding: 0 16px;
		transition: border-color ease-out $tr;

		&:active,
		&:focus {
			border-color: $bright-yellow
		}
	}

	&[type="checkbox"] {
		position: absolute;
		width: 0;
		height: 0;
		opacity: 0;
		pointer-events: none;
		z-index: -10;

		&:checked ~ label {
			&::before {
				background-color: $dark-yellow
			}

			&::after {
				display: flex
			}
		}
	}

	&::placeholder {
		font-family: $ff;
		font-size: $fs-md;
		color: rgba(156, 180, 186, 0.51)
	}
}

.pass-wrapper {
	display: block;
	position: relative
}

.pass-toggle {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 16px;
	display: block;
	width: 24px;
	cursor: pointer;
	transition: opacity ease-out $tr;

	&:hover {
		opacity: 0.7
	}
}

.checkbox-wrapper {
	padding: 0 16px
}

.lostpass-wrapper {
	display: block;
	padding-right: 17px;
	margin-top: 7px;
	text-align: right;

	a {
		font-size: $fs-sm
	}
}

.form-submit {
	padding-bottom: 19px;
	text-align: center
}

.note {
	display: none;
	font-size: $fs-sm;

	&:not(:empty) {
		display: inline-block;
		margin-bottom: 20px
	}
}