// Grid breakpoints.
$xs	: 335px;
$sm	: 480px;
$md	: 768px;
$lg	: 992px;
$xl	: 1320px;

// Container padding.
$container-padding: 20px;

// Container max-width.
$container-md: calc(720px + $container-padding * 2);
$container-lg: calc(950px + $container-padding * 2);
$container-xl: calc(1280px + $container-padding * 2);

// Font families.
$ff			: 'Grafita-Normal', Arial, sans-serif;
$ff-title	: 'Calvino Grande', Arial, sans-serif;

// Font sizes.
$fs-xs	: 12px;
$fs-sm	: 14px;
$fs-md	: 16px;
$fs-lg	: 18px;
$fs-xl	: 20px;

// Font weights.
$fw-light		: 300;
$fw-regular		: 400;
$fw-medium		: 500;
$fw-semibold	: 600;
$fw-bold		: 700;
$fw-extrabold	: 800;
$fw-black		: 900;

// Line heights.
$lh-base: 1.5;
$lh-1	: 1.1;
$lh-2	: 1.2;
$lh-3	: 1.25;
$lh-4	: 1.3;
$lh-5	: 1.33;

// Colors - primary.
$white				: #FFFFFF;
$bright-yellow		: #F7B941;
$dark-yellow		: #C69A39;
$darkest-yellow		: #AC7E19;
$red				: #C63939;
$light-blue			: #C1E3FB;
$disabled			: #CEDCE0;
$disabled-text		: #91A6A3;

// Colors - Background.
$very-dark-green	: #011C1A;
$a-bit-blue-white	: #F7FAFC;

// Colors - Grayscale.
$black-for-text		: #2D2D2D;
$dark-green			: #2D4443;
$deep-green			: #052422;
$green				: #7E969B;
$light-green		: #C3DAE2;
$light-green-blue	: #D3EFF9;
$bright-light-green	: #DCF6FF;
$black				: #001211;

$bg-disabled: rgba(5, 51, 48, 0.05);
$alpha-black-30: rgba(47, 43, 67, 0.3);
$text-secondary: rgba(5, 51, 48, 0.4);

// Colors - Error/Hint.
$error-primary		: #D83B01;
$error-secondary	: #E9C4B7;
$success-primary	: #107C10;
$success-secondary	: #CBE1C9;
$try-again-primary	: #FFC80A;
$try-again-secondary: #EADFB9;

// Colors - Memory Themes.
$theme-black: #131414;
$theme-red	: #33040D;
$theme-blue	: #062053;

// Others.
$tr					: 0.35s;
$radius-checkbox	: 2px;
$radius-input		: 12px;
$radius-theme		: 40px;
$radius-theme-border: 46px;
$radius-langs		: 60px;