body.memory-page-theme-military {
	.sections-military,
	.sections-military-title {
		display: block
	}

	.hide-for-military {
		display: none
	}

	.new-memory .sections-desc {
		display: block
	}
}

.new-memory {
	.sections {
		&-wrapper {
			max-width: 955px;

			@media (min-width: $lg) {
				padding: 53px 95px 53px 0
			}

			button {
				&:not(.button) {
					background-color: transparent;
					padding: 0;
					border: none;
					cursor: pointer;
					transition: opacity ease-out $tr;

					&:hover {
						opacity: 0.7
					}
				}

				.section-label {
					margin-right: 10px
				}

				&.section-add,
				&.section-remove {
					color: $bright-yellow;
					margin-left: auto
				}

				&.section-remove {
					display: none
				}

				&.section-drag {
					position: absolute;
					top: 50%;
					left: 100%;
					transform: translateY(-50%);
					color: #96AAAE;
					cursor: grab;
					opacity: 0;

					&:active {
						cursor: grabbing
					}
				}

				svg {
					display: block
				}
			}
		}

		&-sidebar {
			width: 100%;
			max-width: 318px;
			order: 1;

			@media (min-width: $lg) {
				width: 245px;
				max-width: none;
				padding-right: 24px
			}
		}

		&-added {
			margin-bottom: 40px;

			.section {
				color: $very-dark-green;
				background-color: $a-bit-blue-white;

				&:hover button.section-drag {
					opacity: 1
				}

				button.section-add {
					display: none
				}

				button.section-remove {
					display: block
				}

				&.section-military {
					background-color: $a-bit-blue-white
				}
			}
		}

		&-list {
			width: 100%;
			flex-direction: column;

			.section {
				&.custom {
					color: #76929C
				}

				&-drag {
					display: none
				}
			}
		}

		&-desc {
			display: none;
			order: 2;
			color: $white;
			font-size: $fs-sm;
			line-height: $lh-fs-14;
			font-weight: $fw-medium;
			background-color: $military;
			background-image: url('../../img/military-bg-min.png');
			background-size: auto 100%;
			background-position: center;
			text-align: center;
			border-radius: $rad-military-desc;
			padding: 20px 15px;
			margin-top: 40px;

			@media (min-width: $lg) {
				order: 3;
				padding: 20px 56px;
				margin-top: 60px
			}

			&-icon {
				margin-top: 12px
			}

			svg {
				display: block
			}
		}

		&-content {
			width: 100%;
			order: 3;
			margin-top: 40px;

			@media (min-width: $lg) {
				order: 2;
				// Minus sidebar column width.
				width: calc(100% - 245px);
				padding-left: 55px;
				margin-top: 0
			}

			.section-add-photo {
				margin-top: 16px
			}
		}

		&-title {
			font-size: $fs-sm;
			margin: 0 0 8px 4px;

			@media (min-width: $lg) {
				margin-left: 0
			}
		}

		&-military-title,
		&-military {
			display: none
		}

		&-military-title {
			position: relative;
			font-size: $fs-xs;
			text-align: center;
			margin: 10px 0;
			color: $dark-green-400;

			&::before {
				content: '';
				position: absolute;
				top: 50%;
				left: 0;
				transform: translateY(-50%);
				height: 1px;
				width: 100%;
				background-color: $dark-green-200
			}

			span {
				position: relative;
				padding: 0 8px;
				background-color: $white
			}
		}

		&-military button.section-drag {
			display: none
		}
	}

	.section {
		position: relative;
		font-size: $fs-sm;
		color: $a-bit-blue-white;
		padding: 12px 11px 12px 20px;
		border: 3px solid $a-bit-blue-white;
		border-radius: $radius-langs;
		background-color: $very-dark-green;
		white-space: nowrap;

		@media (min-width: $lg) {
			flex-wrap: wrap;
			white-space: normal;
			width: 100%
		}

		&:hover {
			.section-drag {
				opacity: 1
			}
		}

		&:not(:last-child) {
			margin-bottom: 2px
		}

		&-label {
			@media (min-width: $lg) {
				width: calc(100% - 38px)
			}
		}

		&-content {
			position: relative;
			width: 100%;
			color: $black-for-text;
			padding: 27px 25px 19px;
			border-radius: $radius-input;
			cursor: pointer;
			transition:
				background-color ease-out $tr,
				opacity ease-out $tr;

			.tmp-loader {
				position: absolute;
				top: 50%;
				left: 50%;
				margin: -18px 0 0 -18px
			}

			&.section-content-last-fight .tmp-loader {
				top: auto;
				left: auto;
				right: 16px;
				bottom: 6px;
				margin: 0
			}

			&:not(:last-child) {
				margin-bottom: 10px
			}

			&:hover {
				background-color: $a-bit-blue-white;

				button {
					&.section-drag {
						opacity: 1
					}

					&.section-remove {
						display: block
					}
				}
			}

			&.active {
				background-color: $a-bit-blue-white;

				.section-content-text {
					height: 180px;
					overflow-y: auto
				}

				button.section-remove {
					display: block
				}
			}

			&.custom {
				padding-bottom: 27px;

				&:not(:last-child) {
					margin-bottom: 70px
				}
			}

			&-title {
				font-size: 24px;
				margin-bottom: 20px;

				&-input {
					width: 100%;
					font-family: $ff;
					font-size: 24px;
					border: none;
					background-color: transparent;
					padding: 0;
					caret-color: $bright-yellow;

					&::placeholder {
						font-size: 24px;
						color: $black-for-text;
						opacity: 0.5
					}
				}
			}

			&-text {
				width: 100%;
				height: 19px;
				font-family: $ff;
				font-size: $fs-md;
				line-height: $lh-4;
				color: $black-for-text;
				border: none;
				resize: none;
				background-color: transparent;
				padding: 0 24px 0 0;
				overflow-y: hidden;
				transition: height ease-out $tr;
				box-shadow: none;

				&::placeholder {
					color: #96AAAE
				}
			}

			&-thumb {
				position: absolute;
				top: 100%;
				left: 50%;
				transform: translate(-50%, -28%);
				display: block;
				width: 66px
			}

			button {
				&.section-drag {
					top: 33px;
					left: auto;
					right: 100%;
					transform: none
				}

				&.section-remove {
					position: absolute;
					top: 33px;
					right: 29px;
					color: #96AAAE
				}
			}

			&-form {
				margin-top: 16px;

				&-add {
					border-radius: $rad-advantage
				}

				&.section-content-form-np {
					max-width: 413px
				}
			}

			&-photos {
				gap: 20px;

				&:not(:empty) {
					margin-top: 20px
				}
			}

			&-photo {
				position: relative;
				width: 100%;
				aspect-ratio: 1;
				border-radius: 28px;
				transition: opacity ease-out $tr;

				@media (min-width: $sm) {
					width: calc(50% - 10px)
				}

				img {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					object-fit: cover;
					object-position: center;
					border-radius: 28px
				}

				&-delete {
					position: absolute;
					top: 10px;
					right: 10px;
					width: 34px;
					height: 34px;
					border-radius: 50%;
					color: #96AAAE;
					background-color: $white;
					cursor: pointer;
					transition: ease-out color $tr;

					@media (min-width: $md) {
						top: 20px;
						right: 20px
					}

					svg {
						width: 24px;
						height: auto;
						pointer-events: none
					}

					&:hover {
						color: $red
					}
				}
			}
		}

		&.section-military {
			background-color: $military;
		}
	}
}

// Last fight section always the last one.
#last-fight .section-drag {
	display: none !important
}

.section-content-np {
	margin-bottom: 0
}