.new-memory {
	.epitaph {
		&.form-white {
			flex-direction: column;
			max-width: 630px;
			margin-top: 0;

			@media (min-width: $md) {
				padding-right: 88px
			}
		}

		&-wrapper {
			flex-grow: 1
		}

		fieldset {
			position: relative;
			flex-grow: 1
		}

		textarea {
			flex-grow: 1;
			width: 100%;
			color: $black-for-text;
			font-family: $ff;
			resize: none
		}
	}
}