.new-memory {
	.epitaph {
		&.form-white {
			max-width: 630px;
			padding-right: 88px;
			margin-top: 0
		}

		&-wrapper {
			flex-grow: 1
		}

		legend {
			padding: 0;
			margin-bottom: 19px
		}

		fieldset {
			flex-grow: 1
		}

		&-title {
			font-size: 24px;
			margin-right: 5px
		}

		.symbols-count {
			font-size: $fs-sm;
			color: #96AAAE;
			padding-bottom: 5px
		}

		textarea {
			flex-grow: 1;
			width: 100%;
			font-family: $ff;
			background-color: transparent;
			border: none;
			resize: none;
			padding: 0;
			caret-color: $bright-yellow;

			&::-webkit-scrollbar {
				width: 3px
			}

			&::-webkit-scrollbar-track {
				-webkit-box-shadow: none
			}

			&::-webkit-scrollbar-thumb {
				background-color: $bright-yellow;
				outline: none
			}
		}
	}
}