body.memory-page-theme-military {
	.header-langs,
	#new-memory-step-1 .new-memory-step-desc,
	.new-memory-langs {
		display: none !important
	}
}

.new-memory {
	&-langs {
		position: relative;
		width: 100%;
		max-width: 522px;
		border: 1px solid $very-dark-green;
		border-radius: $radius-langs;

		@media (min-width: $md) {
			width: auto
		}
	}

	&-lang {
		position: relative;
		width: calc(100% / 3);
		background-color: transparent;
		border: none;
		font-size: $fs-xs-alt;
		color: $very-dark-green;
		padding: 13px 0;
		cursor: pointer;
		text-align: center;
		z-index: 1;
		transition: color ease-out $tr;

		@media (min-width: $md) {
			width: 138px;
			font-size: $fs-sm;
			line-height: $lh-mobile-title-special;
			padding: 16px 0
		}

		&:first-of-type.active ~ .new-memory-lang-bg {
			left: 2px;

			@media (min-width: $md) {
				left: 3px
			}
		}

		&:nth-of-type(2).active ~ .new-memory-lang-bg {
			left: calc(100% / 3);

			@media (min-width: $md) {
				left: 141px
			}
		}

		&:last-of-type.active ~ .new-memory-lang-bg {
			left: calc((100% / 3) * 2);

			@media (min-width: $md) {
				left: 279px
			}
		}

		&.active {
			color: $a-bit-blue-white
		}

		&-bg {
			position: absolute;
			top: 2px;
			width: calc(100% / 3);
			height: 41px;
			background-color: $very-dark-green;
			border-radius: $radius-langs;
			transition: left ease-out $tr;

			@media (min-width: $md) {
				top: 3px;
				width: 132px;
				height: 44px
			}
		}
	}

	.popup {
		&-inner {
			width: 100%;
			max-width: 800px;
			margin: auto 0;
			background-color: $white;
			border-radius: $radius-theme;
			overflow: hidden;
			cursor: auto
		}

		&-photo-wrapper {
			height: 400px;
			overflow: hidden;

			@media (min-width: $lg) {
				height: 662px
			}

			img {
				max-width: 100%;
				max-height: 100%
			}
		}

		&-buttons {
			row-gap: 30px;
			padding: 42px 0 0;

			@media (min-width: $lg) {
				padding-bottom: 48px
			}
		}

		.cropper-modal {
			opacity: 0.6
		}

		.cropper-face,
		.cropper-view-box {
			border-radius: 200px
		}

		.cropper-view-box {
			outline: none
		}

		.cropper-dashed,
		.cropper-center,
		.cropper-line,
		.cropper-point.point-e,
		.cropper-point.point-n,
		.cropper-point.point-w,
		.cropper-point.point-s {
			display: none
		}

		.cropper-point {
			width: 11px;
			height: 11px;
			background-color: transparent;
			opacity: 1;

			&.point-nw {	// Top-left
				top: 0;
				left: 0;
				border-top: 2px solid $white;
				border-left: 2px solid $white
			}

			&.point-ne {	// Top-right
				top: 0;
				right: 0;
				border-top: 2px solid $white;
				border-right: 2px solid $white
			}

			&.point-sw {	// Bottom-left
				bottom: 0;
				left: 0;
				border-left: 2px solid $white;
				border-bottom: 2px solid $white
			}

			&.point-se {	// Bottom-right
				bottom: 0;
				right: 0;
				border-right: 2px solid $white;
				border-bottom: 2px solid $white
			}
		}
	}

	#photo-popup .popup-inner {
		width: 80%;
		padding: 30px 10px;

		@media (min-width: $lg) {
			padding: 30px
		}
	}

	&-step-1 {
		label.label-file .filename {
			margin-left: 10px
		}
	}
}