.new-memory {
	&-langs {
		position: relative;
		border: 1px solid $very-dark-green;
		border-radius: $radius-langs
	}

	&-lang {
		position: relative;
		width: 138px;
		padding: 16px 0;
		background-color: transparent;
		border: none;
		font-size: $fs-sm;
		cursor: pointer;
		z-index: 1;
		transition: color ease-out $tr;

		&:first-of-type.active ~ .new-memory-lang-bg {
			left: 3px
		}

		&:nth-of-type(2).active ~ .new-memory-lang-bg {
			left: 141px
		}

		&:last-of-type.active ~ .new-memory-lang-bg {
			left: 279px
		}

		&.active {
			color: $a-bit-blue-white
		}

		&-bg {
			position: absolute;
			top: 3px;
			width: 132px;
			height: calc(100% - 6px);
			background-color: $very-dark-green;
			border-radius: $radius-langs;
			transition: left ease-out $tr
		}
	}
}