.military-created-title {
	@media (min-width: $sm) {
		line-height: 2.5
	}
}

.military-created-inner {
	width: 100%;
	max-width: 800px;
	background-color: $white;
	padding: 20px;
	margin: 40px 0;
	border-radius: $rad-advantage;

	@media (min-width: $sm) {
		padding: 40px
	}
}

.military-created-info {
	width: 100%;
	max-width: 300px;
	font-family: $ff-military;
	color: $light-white;
	padding: 20px 30px;
	margin-bottom: 20px;
	border-radius: 21px;
	overflow: hidden;
	background-image: url(../../img/instagram-story-min.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;

	@media (min-width: $sm) {
		padding: 49px
	}
}

.military-created-top {
	width: 100%;
	margin-bottom: 20px;

	@media (min-width: $sm) {
		margin-bottom: 40px
	}
}

.military-created-thumb {
	position: relative;
	width: 102px;
	height: 102px;
	border-radius: 50%;
	overflow: hidden;

	img {
		display: block;
		width: 100%;
		position: absolute;
		top: 50%;
		transform: translateY(-50%)
	}
}

.military-created-date-inner {
	font-size: $fs-xl;
	line-height: $lh-mobile-title-special;
	color: #E69636
}

.military-created-date-died {
	margin-top: auto
}

.military-created-date-left {
	font-size: 7px;
	line-height: $lh-desktop-title-special;
	margin-right: 2px
}

.military-created-date-decor {
	font-size: 9px;
}

.military-created-date-day {
	text-decoration: underline
}

.military-created-fullname {
	max-width: 171px;
	font-size: $fs-xl;
	font-weight: $fw-bold;
	line-height: $lh-mobile-title-special;
	margin-bottom: 10px
}

.military-created-brigade {
	font-size: 7px;
	line-height: $lh-mobile-title-special;
	margin-bottom: 28px
}

.military-created-army {
	max-width: 112px;

	img {
		display: block;
		width: 23px
	}

	p {
		display: block;
		width: calc(100% - 23px);
		font-size: 7px;
		line-height: $lh-mobile-title-special;
		font-weight: $fw-bold;
		padding-left: 8px
	}
}

.military-created-share-button {
	margin-bottom: 20px
}

.military-created-link-desc {
	font-size: 15px;
	line-height: 20px;
	color: $text-primary;
	margin-bottom: 5px;
	text-align: center;
	opacity: 0.8
}

.military-created-link-url {
	display: block;
	color: $dark-yellow-alt;
	text-align: center;
	text-decoration: underline;

	&:hover {
		text-decoration: none
	}
}

.military-created-qr .button {
	min-width: 216px
}

#instagram-popup {
	.popup-inner {
		max-width: 600px;
		overflow: visible
	}

	.coords-popup-text {
		width: 100%;
		padding: 0;

		* {
			text-align: center
		}
	}
}