.new-memory {
	&-themes {
		position: relative;
		width: 100%;
		max-width: 414px;
		gap: 4px;

		@media (min-width: $md) {
			gap: 20px
		}

		&::before {
			@media (min-width: $lg) {
				content: '';
				position: absolute;
				bottom: 0;
				right: -128px;
				width: 1px;
				height: 100%;
				background-color: $light-green
			}
		}

		&-desc {
			width: 100%;
			max-width: 413px;
			margin-bottom: 20px;
			line-height: $lh-base;

			@media (min-width: $md) {
				padding-right: 120px
			}

			p {
				font-size: 13px;

				@media (min-width: $md) {
					font-size: 16px
				}
			}
		}

		&-left {
			margin-bottom: 29px;

			@media (min-width: $lg) {
				padding-right: 128px;
				margin-bottom: 0
			}
		}

		&-right {
			position: relative;
			width: 100%;
			max-width: 414px;
			padding-top: 30px;
			border-top: 1px solid $light-green;

			@media (min-width: $lg) {
				width: auto;
				padding-top: 0;
				margin-left: 128px;
				border-top: none
			}

			.new-memory-themes-desc {
				gap: 8px;
				padding: 0;
				margin-bottom: 16px;

				@media (min-width: $lg) {
					max-width: 197px;
					margin-bottom: 28px
				}

				svg {
					display: block;
					width: 16px;
				}

				span {
					width: calc(100% - 24px);
					line-height: 1.71;

					@media (min-width: $lg) {
						line-height: $lh-base
					}
				}
			}
		}
	}

	&-theme {
		position: relative;
		width: calc(50% - 2px);
		background-color: transparent;
		padding: 0;
		border: none;
		border-radius: 20px;
		cursor: pointer;

		@media (min-width: $md) {
			width: calc(50% - 10px);
			border-radius: $radius-theme
		}

		@media (min-width: $lg) {
			width: 197px
		}

		&.active::before {
			opacity: 1
		}

		&::before {
			content: '';
			position: absolute;
			top: -2px;
			left: -2px;
			width: calc(100% + 2px);
			height: calc(100% + 2px);
			border: 1px solid $dark-yellow;
			border-radius: 34px;
			opacity: 0;
			transition: opacity ease-out $tr;
			pointer-events: none;

			@media (min-width: $md) {
				top: -8px;
				left: -8px;
				width: calc(100% + 16px);
				height: calc(100% + 16px);
				border-radius: $radius-theme-border
			}
		}

		img {
			display: block;
			width: 100%;
			border-radius: 20px;

			@media (min-width: $md) {
				border-radius: $radius-theme
			}
		}
	}

	.new-memory-themes-right-desk {
		display: block !important;
	}

	.new-memory-themes-desk {
		display: flex !important;
	}

	.new-memory-themes-mobile {
		display: none !important;
	}

	.new-memory-themes-right-mobile {
		display: none !important;
	}

	@media (max-width: 768px) {
		.new-memory-step-desc {
			display: none !important;
		}

		.new-memory-themes-right-desk {
			display: none !important;
		}

		.new-memory-themes-desk {
			display: none !important;
		}

		.new-memory-themes-right-mobile {
			display: block !important;
		}

		.new-memory-themes-mobile {
			display: flex !important;
		}

		.new-memory-themes-mobile .new-memory-theme,
		.new-memory-themes-right-mobile .new-memory-theme {
			max-width: 168px !important;
			max-height: 120px !important;
			width: 100% !important;
			height: 100% !important;
			overflow: hidden;
			align-items: center;
			display: flex;
			border-radius: 33px;
		}
	}

	@media (max-width: 400px) {
		.container{
			padding: 0px 15px;
		}
	}

	@media (max-width: 360px) {
		.new-memory-themes-right-mobile {
			display: flex !important;
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}
		.new-memory-themes-mobile {
			justify-content: center;
		}
	}
}