@import '../components/vars';
@import '../components/typography';
@import '../pages/profile';

.page-template-add-new-memories {
	background-color: $a-bit-blue-white
}

.add-new-memories {
	height: 100%
}

.add-new-memory {
	&-form {
		width: 100%;
		order: 3;

		@media (min-width: $md) {
			width: calc(100% - 312px);
			padding-right: 60px;
			order: 2
		}

		@media (min-width: $lg) {
			width: calc(100% - 472px);
			padding-right: 109px
		}

		&.success {
			order: 1;
			margin-bottom: 24px;

			@media (min-width: $md) {
				margin: auto 0
			}
		}

		fieldset {
			width: 100%;

			@media (min-width: $md) {
				max-width: 383px
			}
		}

		legend {
			@extend .h3;
			margin-bottom: 20px
		}

		label.label {
			margin-bottom: 20px;

			&-file {
				margin-bottom: 30px;

				.label-text {
					margin: 0
				}
			}

			&-checkbox {
				color: $very-dark-green;

				&::before {
					width: 14px;
					height: 14px;
					background-color: transparent;
					border: 1px solid $very-dark-green
				}

				a {
					color: $dark-yellow;

					&:hover {
						color: $bright-yellow
					}
				}
			}
		}

		textarea {
			resize: none
		}

		input[type='checkbox']:checked ~ label::before {
			border-color: $dark-yellow
		}

		.checkbox-wrapper {
			padding: 0;
			margin-bottom: 30px
		}

		.btn[type='submit'] {
			width: 100%;
			max-width: 308px
		}

		.label-file-wrap-result {
			margin-bottom: 30px
		}
	}

	&-info {
		width: 100%;
		pointer-events: none;
		order: 2;
		margin-bottom: 24px;

		@media (min-width: $md) {
			width: 312px;
			margin: 0 0 0 auto;
			order: 3
		}

		@media (min-width: $lg) {
			width: 472px
		}

		.memory-card {
			width: 100%;

			&-inner {
				@media (min-width: $lg) {
					border-radius: 34px
				}
			}

			&-top {
				@media (min-width: $lg) {
					padding: 35px 70px 80px
				}
			}

			&-thumb {
				@media (min-width: $lg) {
					width: 256px;
					height: 308px;
					padding: 35px 32px 25px;
					transform: translateY(32px);

					&::after {
						width: 128%;
						height: 130%
					}
				}
			}

			&-fullname {
				@media (min-width: $lg) {
					font-size: 42px;
					padding: 0;
					margin-bottom: 9px;
					transform: translateY(-9px)
				}
			}

			&-dates {
				@media (min-width: $lg) {
					.memory-card-date {
						font-size: $fs-md;
						line-height: $lh-4
					}

					span {
						margin: 0 5px
					}
				}
			}
		}
	}

	&-bottom {
		flex-direction: column;
		align-items: center;
		width: 100%;
		padding: 24px;
		margin-bottom: 36px;
		background-color: $bg-primary-hover;
		border-radius: $rad-memory-page-card;
		gap: 20px;
		order: 4;

		@media (min-width: $md) {
			flex-direction: row;
			padding: 30px;
			margin-top: 24px;
			gap: 54px
		}

		div {
			max-width: 75%;

			* {
				text-align: center;

				@media (min-width: $md) {
					text-align: left
				}
			}

			h3 {
				@media (min-width: $lg) {
					font-size: 38px
				}
			}
		}

		a {
			white-space: nowrap
		}
	}
}

.memory-created {
	max-width: 369px;

	h1, h2, h3, h4 {
		font-size: 24px;
		margin-bottom: 10px;

		@media (min-width: $md) {
			margin-bottom: 20px
		}
	}

	p {
		color: $text-primary;
		line-height: $lh-base;
		opacity: 0.8
	}

	.button {
		margin-top: 20px;

		@media (min-width: $lg) {
			margin-top: 30px
		}
	}
}