@import '../components/vars';

.main.auth {
	padding: 40px 0
}

.auth {
	&.login,
	&.lostpass {
		.auth-illustration {
			@media (min-width: $lg) {
				padding-left: 80px
			}

			&-inner {
				max-width: 490px
			}
		}
	}

	&.register {
		.auth-illustration {
			@media (min-width: $lg) {
				padding-left: 74px
			}

			&-inner {
				max-width: 571px
			}
		}
	}

	&.lostpass {
		.registration-success {
			width: 100%
		}
	}

	&-form {
		width: 100%;
		max-width: 370px;

		&-wrapper {
			width: 100%;

			@media (min-width: $lg) {
				width: 50%;
				padding-left: 95px
			}
		}
	}

	&-illustration {
		display: none;

		@media (min-width: $lg) {
			display: flex;
			position: relative;
			width: 50%;
			background-color: $deep-green
		}

		&::before {
			content: '';
			position: absolute;
			top: 50%;
			transform: translateY(-100vh);
			left: 0;
			width: 50vw;
			height: 200vh;
			background-color: inherit
		}

		&-inner {
			position: relative;
			width: 100%
		}
	}

	&-additional {
		width: 100%;
		max-width: 370px;

		&-title {
			width: 100%;
			padding: 0 11px;
			margin-bottom: 19px;
			opacity: 0.5;

			&-text {
				font-size: $fs-sm;
				line-height: 1.71;
				color: $light-green;
				margin: 0 10px
			}

			&-line {
				flex-grow: 1;
				height: 1px;
				background-color: $light-green;
				transform: translateY(2px)
			}
		}

		&-option {
			font-size: $fs-sm;
			line-height: 1.71;
			color: $light-green;
			margin-top: 20px;
			text-align: center;
			opacity: 0.8;

			a {
				color: $bright-yellow;

				&:hover {
					color: $dark-yellow
				}
			}
		}

		.wp_google_login {
			margin-top: 19px;

			&__button-container {
				margin-top: 0
			}

			&__button {
				display: inline-flex;
				align-items: center;
				justify-content: center;
				border: none;
				border-radius: $radius-input;
				background-color: $light-blue;
				transition: background-color ease-out $tr;

				&:hover {
					background-color: $light-green-blue
				}
			}

			&__google-icon {
				width: 22px;
				height: 22px;
				background-image: url('../../img/google-colored.svg');
				margin-right: 6px
			}
		}
	}
}

.form-register {
	.checkbox-wrapper {
		margin-bottom: 33px
	}
}

.registration-success-inner {
	position: relative;
	width: 100%;
	max-width: 673px;
	margin: 0 auto;

	img {
		max-width: 197px;
		margin-bottom: 44px
	}

	h1, h2, h3,
	h4, h5, h6 {
		color: $light-green;
		margin-bottom: 14px
	}

	p {
		color: rgba(195, 218, 226, 0.5);
		margin-bottom: 14px;

		&:last-child {
			margin-bottom: 0
		}
	}

	a {
		color: $dark-yellow;

		&:hover {
			color: $bright-yellow
		}
	}
}

.activation-success {
	width: 100%
}