@import '../../../node_modules/lightbox2/dist/css/lightbox.min';
@import '../components/vars';

body.single-memory_page {
	background-color: $very-dark-green;
	transition: background-color ease-out $tr;

	.header.full .header-inner {
		border-bottom-color: rgba(13, 81, 76, 0.60)
	}

	.header-menu-button {
		color: $white
	}

	// BODY CHANGED BG TO LIGHT

	&.theme-light {
		background-color: $white;

		// MEMORY THEMES WHEN THEME BECOME LIGHT ON SCROLL
		&.black,
		&.red,
		&.blue {
			background-color: $white;

			.single-memory {
				&-thumb-border {
					&::after {
						background: linear-gradient(2deg, rgba(1, 28, 26, 0) 0%, $white 100%)
					}

					svg text {
						fill: $black-for-text
					}
				}

				&-name,
				&-date {
					color: $black-for-text
				}

			}
		}

		&.black {
			.single-memory {
				&-heading,
				&-epitaph,
				&-bio-title,
				&-bio-text,
				&-no-memories-title,
				&-media-title,
				.media-links-title,
				.media-link-title,
				.map-desc,
				.map-desc-title {
					color: $theme-black
				}
			}
		}

		&.red {
			.single-memory {
				&-heading,
				&-bio-title,
				&-bio-text,
				&-no-memories-title,
				&-media-title,
				.media-links-title,
				.media-link-title {
					color: $theme-red
				}

				.map-desc-title,
				.map-address-detail,
				.map-howto,
				.map-coords,
				.map-coords span {
					color: $black-for-text
				}
			}
		}

		&.blue {
			.single-memory {
				&-heading,
				&-bio-title,
				&-bio-text,
				&-no-memories-title,
				&-media-title,
				.media-links-title,
				.media-link-title {
					color: $theme-blue
				}

				.map-desc-title,
				.map-address-detail,
				.map-howto,
				.map-coords,
				.map-coords span {
					color: $black-for-text
				}
			}
		}

		.header-logo img {
			&.dark {
				display: none
			}

			&.light {
				display: block
			}
		}

		.single-memory-heading {
			color: $black-for-text
		}

		.single-memory-bio-section,
		.single-memory-no-memories,
		.single-memory-media-title,
		.media-video-name,
		.media-video-duration,
		.media-links-title,
		.media-link,
		.media-link:hover .media-link-url,
		.map-desc-title {
			color: $black-for-text
		}

		.media-video-duration {
			color: $green
		}

		.single-memory-no-memories-btn {
			background-color: transparent;
			border-color: $very-dark-green;

			&:hover,
			&:active {
				background-color: $light-green;
				border-color: $light-green
			}
		}

		.single-memory-memories {
			background-color: $a-bit-blue-white
		}
	}

	// MEMORY BLACK THEME

	&.black {
		background-color: $theme-black;

		.single-memory {
			&-thumb-border::after {
				background: linear-gradient(180deg, rgba(19, 20, 20, 0.34) 40%, rgba(19, 20, 20, 0.92) 86.98%)
			}

			&-name {
				color: $bright-yellow
			}

			&-date,
			&-heading,
			&-epitaph,
			&-epitaph::before,
			&-epitaph-role,
			&-bio-section,
			.map-desc,
			.map-desc-title,
			.cta-desc {
				color: $white
			}

			.media-photo-overlay {
				background: rgba(19, 20, 20, 0.79)
			}
		}
	}

	// MEMORY RED THEME

	&.red {
		background-color: $theme-red;

		.single-memory {
			&-thumb-border {
				&::after {
					background: linear-gradient(180deg, rgba(51, 4, 13, 0.34) 40%, rgba(51, 4, 13, 0.92) 86.98%)
				}

				svg text {
					fill: $bright-yellow
				}
			}

			&-name,
			&-epitaph,
			&-epitaph::before,
			&-heading,
			.map-desc-title,
			.map-coords {
				color: $bright-yellow
			}

			&-date,
			&-epitaph-name,
			&-epitaph-role,
			&-bio-section,
			.map-desc,
			.map-address-detail,
			.map-howto,
			.map-coords span {
				color: $white
			}

			.media-photo-overlay {
				background: rgba(51, 4, 13, 0.79)
			}

			&-cta-inner {
				background-color: #120000
			}
		}
	}

	// MEMORY BLUE THEME

	&.blue {
		background-color: $theme-blue;

		.single-memory {
			&-thumb-border::after {
				background: linear-gradient(1deg, $theme-blue 1.14%, rgba(6, 32, 83, 0.16) 63.47%)
			}

			&-name,
			&-epitaph,
			&-epitaph::before,
			&-epitaph-name,
			.media-photo-cursor-text,
			.map-desc-title,
			.map-coords {
				color: $light-blue
			}

			&-date,
			&-epitaph-role,
			.map-address-detail,
			.map-howto,
			.map-coords span {
				color: #4D78AA
			}

			.media-photo-overlay {
				background: rgba(6, 32, 83, 0.79)
			}

			&-cta-inner {
				background-color: #000112
			}
		}
	}
}

.single-memory {
	&-top {
		padding: 124px 0 134px;

		@media (min-width: $md) {
			padding: 156px 0 142px
		}
	}

	&-thumb {
		position: relative;
		width: 72%;
		max-width: 300px;

		@media (min-width: $md) {
			width: auto;
			max-width: none
		}

		&-border {
			position: absolute;
			top: -53px;
			left: 50%;
			width: calc(100% + 94px);
			height: calc(100% + 110px);
			transform: translateX(-50%);

			@media (min-width: $md) {
				top: -89px;
				left: 50%;
				width: calc(100% + 154px);
				height: calc(100% + 200px)
			}

			&::after {
				content: '';
				position: absolute;
				top: 1px;
				left: -1px;
				width: calc(100% + 2px);
				height: 120%;
				background: linear-gradient(180deg, rgba(1, 28, 26, 0.34) 40%, rgba(1, 28, 26, 0.85) 86.98%)
			}

			svg text {
				font-family: $ff;
				fill: $white;
				font-size: $fs-lg
			}
		}

		img {
			display: block;
			width: 100%;
			border-radius: 120px;
			filter: grayscale(100%);

			@media (min-width: $md) {
				width: 406px;
				height: 515px;
				border-radius: 200px
			}
		}
	}

	&-info {
		position: relative;
		margin-top: -25px;

		@media (min-width: $md) {
			margin-top: -70px
		}
	}

	&-name {
		font-family: $ff-title;
		font-size: 40px;
		line-height: $lh-1;
		font-weight: $fw-semibold;
		color: $light-green;
		text-align: center;

		@media (min-width: $md) {
			font-size: 90px
		}
	}

	&-date {
		font-size: $fs-md;
		color: $bright-yellow;
		line-height: normal;
		margin-top: 30px;

		@media (min-width: $md) {
			font-size: $fs-xl;
			padding-bottom: 20px;
			margin-top: 0
		}

		span {
			position: relative;
			display: block;
			width: 20px;
			height: 1px;
			background-color: $bright-yellow
		}
	}

	&-lastname .single-memory-name {
		padding: 0 50px
	}

	&-heading {
		width: 100%;
		line-height: $lh-1;
		text-align: center;
		color: $light-green;
		transition: color ease-out $tr;
		margin-bottom: 30px;

		@media (min-width: $md) {
			line-height: 2.5
		}
	}

	// EPITAPH SECTION STYLES

	&-epitaph {
		position: relative;
		color: $light-green;
		text-align: center;
		padding-bottom: 120px;

		@media (min-width: $md) {
			padding-bottom: 322px
		}

		&::before {
			content: '“';
			position: absolute;
			top: 0;
			left: 50%;
			transform: translate(-50%, -67%);
			font-family: $ff-title;
			font-size: 100px;
			font-weight: $fw-semibold;
			line-height: normal;
			color: #112B2A;

			@media (min-width: $md) {
				font-size: 140px;
				transform: translate(-50%, -56%)
			}
		}

		> .container {
			max-width: 758px
		}

		&-text {
			font-size: $fs-md;
			line-height: $lh-4;
			margin-bottom: 31px;

			@media (min-width: $md) {
				font-size: $fs-xl
			}
		}

		&-name {
			font-size: 13px;
			color: $bright-yellow;
			line-height: normal;
			margin-bottom: 3px;

			@media (min-width: $md) {
				font-size: $fs-md;
				margin-bottom: 9px
			}
		}

		&-role {
			font-size: 11px;
			color: $green;

			@media (min-width: $md) {
				font-size: $fs-sm
			}
		}
	}

	// BIO SECTION STYLES

	&-bio {
		padding: 100px 0;

		@media (min-width: $md) {
			padding: 84px 0 178px
		}

		> .container {
			max-width: 630px
		}

		&-section {
			color: $light-green;
			transition: color ease-out $tr;

			&:not(:last-child) {
				margin-bottom: 36px
			}
		}

		&-title {
			font-size: 24px;
			line-height: normal;
			margin-bottom: 19px
		}
	}

	// MEMORIES SECTION STYLES

	&-memories {
		padding: 100px 0;
		transition: background-color ease-out $tr
	}

	&-no-memories {
		line-height: normal;
		color: $light-green;

		&-img {
			width: 352px;
			margin-bottom: 44px;

			img {
				width: 100%
			}
		}

		&-title {
			font-size: 30px;
			margin-bottom: 19px;
			text-align: center
		}

		&-desc {
			color: $green;
			margin-bottom: 28px;
			text-align: center
		}

		&-btn.btn.outlined {
			width: 100%;
			background-color: $light-green;
			border-color: $light-green;

			@media (min-width: $sm) {
				width: auto
			}
		}
	}

	// MEDIA SECTION STYLES

	&-media {
		padding: 100px 0;

		@media (min-width: $md) {
			padding: 103px 0 110px
		}

		&-title {
			font-size: $fs-md;
			line-height: normal;
			color: $light-blue;
			margin-bottom: 40px;
			transition: color ease-out $tr;

			@media (min-width: $md) {
				font-size: 24px;
				margin-bottom: 47px
			}
		}
	}

	.media-photos {
		&-list {
			column-gap: 4px;
			row-gap: 5px;

			@media (min-width: $xl) {
				column-gap: 20px;
				row-gap: 30px
			}
		}

		&-more {
			margin-top: 24px;

			button {
				font-family: $ff;
				font-size: $fs-md;
				line-height: normal;
				text-decoration: underline;
				color: $black-for-text;
				background-color: transparent;
				border: none;
				padding: 0;
				cursor: pointer;

				&:hover {
					text-decoration: none
				}
			}
		}
	}

	.media-photo {
		position: relative;
		width: calc(50% - 2px);
		overflow: hidden;

		@media (min-width: $lg) {
			width: calc((100% - 12px) / 4)
		}

		@media (min-width: $xl) {
			width: calc((100% - 60px) / 4)
		}

		&-inner {
			position: relative;
			width: 100%;
			aspect-ratio: 166 / 124;

			@media (min-width: $xl) {
				aspect-ratio: unset;
				height: 460px
			}
		}

		&:hover {
			cursor: none;

			.media-photo-overlay,
			.media-photo-cursor-text {
				opacity: 1
			}
		}

		&-overlay {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: linear-gradient(0deg, rgba(1, 28, 26, 0.50) 0%, rgba(1, 28, 26, 0.50) 100%);
			opacity: 0;
			transition: opacity ease-out $tr;
			pointer-events: none
		}

		&-cursor-text {
			position: absolute;
			font-family: $ff-title;
			font-size: 40px;
			line-height: 2.5;
			font-weight: $fw-semibold;
			color: $bright-yellow;
			opacity: 0;
			pointer-events: none
		}

		img {
			display: block;
			width: 100%;
			height: 100%;
			object-fit: cover
		}
	}

	.media-videos {
		margin-top: 79px;

		&-list {
			column-gap: 20px;
			row-gap: 30px
		}
	}

	.media-video {
		width: 100%;

		@media (min-width: $md) {
			width: calc(50% - 10px)
		}

		@media (min-width: $lg) {
			width: calc((100% - 40px) / 3)
		}

		&-top {
			position: relative;
			width: 100%;
			overflow: hidden;

			&:hover {
				cursor: none;

				.media-photo-overlay,
				.media-photo-cursor-text {
					opacity: 1
				}
			}

			&.playing {
				cursor: auto;

				.media-photo-overlay,
				.media-photo-cursor-text {
					opacity: 0
				}
			}

			.media-photo-overlay {
				pointer-events: auto
			}
		}

		&-bottom {
			margin-top: 14px;

			@media (min-width: $md) {
				margin-top: 19px
			}
		}

		&-name {
			font-size: $fs-md;
			color: $light-blue;
			line-height: normal;
			margin-bottom: 2px;
			transition: color ease-out $tr
		}

		&-duration {
			font-size: 13px;
			color: $light-blue;
			transition: color ease-out $tr;

			@media (min-width: $md) {
				font-size: $fs-sm
			}
		}

		&-more {
			.media-video-top {
				&:hover {
					cursor: pointer;

					.media-video-more-text {
						opacity: 0.7
					}
				}
			}

			&-text {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				color: $green;
				line-height: normal;
				transition: opacity ease-out $tr;

				.count {
					font-family: $ff-title;
					font-size: 60px;
					line-height: $lh-1;
					font-weight: $fw-semibold;
					color: $light-green;
					margin: 9px 0 6px;

					@media (min-width: $xl) {
						font-size: 90px
					}
				}

				div:last-child {
					color: $bright-yellow
				}
			}

			.media-photo-overlay {
				background-color: $very-dark-green;
				opacity: 1
			}
		}

		.media-photo-inner {
			position: relative;
			width: 100%;
			aspect-ratio: 335 / 195;

			@media (min-width: $xl) {
				aspect-ratio: unset;
				height: 240px
			}
		}

		video {
			display: block;
			width: 100%;
			height: 100%;
			object-fit: cover
		}
	}

	.media-links {
		margin-top: 40px;

		@media (min-width: $md) {
			margin-top: 75px
		}

		&-title {
			width: 100%;
			font-size: $fs-md;
			line-height: $lh-4;
			color: $light-blue;
			margin-bottom: 40px;

			@media (min-width: $md) {
				font-size: 24px;
				margin-bottom: 19px
			}

			@media (min-width: $lg) {
				width: 542px;
				padding: 19px 148px 0 0;
				margin-bottom: 0
			}
		}

		&-list {
			width: 100%;

			@media (min-width: $lg) {
				width: calc(100% - 542px)
			}
		}
	}

	.media-link {
		position: relative;
		width: 100%;
		color: $light-blue;
		line-height: 2.06;
		padding: 20px 40px 20px 0;
		border-bottom: 0.5px solid;
		overflow: hidden;
		transition: border-color ease-out $tr;

		@media (min-width: $md) {
			padding: 28px 0
		}

		&:first-child {
			border-top: 0.5px solid
		}

		&:hover {
			cursor: none;

			.media-photo-cursor-text {
				opacity: 1
			}

			.media-link-url {
				color: $light-blue
			}
		}

		&-title {
			width: 100%;
			font-size: $fs-md;

			@media (min-width: $md) {
				width: 41%
			}
		}

		&-url {
			width: 100%;
			font-size: 13px;
			line-height: normal;
			color: $green;
			transition: color ease-out $tr;
			text-overflow: ellipsis;
			overflow: hidden;
			white-space: nowrap;

			@media (min-width: $md) {
				width: calc(59% - 47px);
				font-size: $fs-sm
			}
		}

		svg {
			position: absolute;
			top: 50%;
			right: 0;
			width: 24px;
			transform: translateY(-50%);

			@media (min-width: $md) {
				position: relative;
				right: auto;
				top: auto;
				margin-left: auto
			}
		}
	}

	// MAP SECTION STYLES

	&-place {
		padding: 114px 0 97px;

		.single-memory-heading {
			@media (min-width: $md) {
				text-align: left
			}
		}
	}

	.map {
		width: 100%;
		height: 450px;
		order: 2;

		@media (min-width: $xl) {
			width: 630px;
			order: 1
		}

		iframe {
			width: 100%;
			height: 100%
		}

		&-desc {
			width: 100%;
			flex-grow: 1;
			color: $light-blue;
			transition: color ease-out $tr;
			order: 1;

			@media (min-width: $xl) {
				width: calc(100% - 759px);
				margin-left: auto;
				order: 2
			}

			&-title {
				font-size: 22px;
				color: $light-green;
				margin-bottom: 17px;

				@media (min-width: $md) {
					font-size: 24px
				}
			}
		}

		&-address-detail {
			color: $green;
			margin-bottom: 50px;

			svg {
				display: block;
				width: 24px;
				margin-right: 4px
			}

			span {
				display: block;
				width: calc(100% - 28px)
			}
		}

		&-howto {
			font-size: $fs-md;
			color: $green;
			margin-bottom: 50px
		}

		&-coords {
			font-size: $fs-md;
			color: $light-green;
			margin-bottom: 40px;

			@media (min-width: $xl) {
				margin-bottom: 0
			}

			span {
				color: $green;
				margin-right: 2px;

				@media (min-width: $md) {
					font-size: $fs-sm
				}
			}
		}
	}

	// CTA SECTION STYLES

	&-cta {
		padding: 100px 0 0;
		margin-bottom: 86px;
		background-color: $black;

		@media (min-width: $xl) {
			padding: 0;
			margin-bottom: 97px;
			background-color: transparent
		}

		&-inner {
			position: relative;
			justify-content: center;

			@media (min-width: $xl) {
				justify-content: flex-start;
				border-radius: 30px;
				border: 0.5px solid $dark-yellow;
				background-color: $black;
				padding: 81px 73px 81px 80px
			}
		}

		img {
			display: block;
			width: 100%;
			max-width: 297px;

			@media (min-width: $xl) {
				position: absolute;
				bottom: -18px;
				right: 73px;
				width: auto;
				max-width: 100%;
				height: 120%
			}
		}
	}

	.cta {
		&-title {
			color: $dark-yellow;
			margin-bottom: 20px;
			text-align: center;

			@media (min-width: $xl) {
				margin-bottom: 15px;
				text-align: left
			}
		}

		&-desc {
			font-size: $fs-md;
			color: $light-green;
			margin-bottom: 30px;
			text-align: center;

			@media (min-width: $xl) {
				font-size: $fs-lg;
				margin-bottom: 27px;
				text-align: left
			}
		}

		&-left {
			align-items: center;

			@media (min-width: $xl) {
				align-items: flex-start;
				width: 52%
			}

			.btn {
				width: 100%;
				margin-bottom: 29px;

				@media (min-width: $sm) {
					width: auto
				}

				@media (min-width: $xl) {
					margin-bottom: 0
				}
			}
		}
	}
}