@import '../components/vars';
@import '../components/typography';

@import '../new-memory/footer';

@import '../new-memory/step-0';

@import '../../../node_modules/cropperjs/dist/cropper.min';
@import '../new-memory/step-1';
@import '../new-memory/step-2';
@import '../new-memory/step-3';
@import '../new-memory/step-3-military';
@import '../new-memory/step-4';
@import '../new-memory/step-5';
@import '../new-memory/step-6';

.new-memory {
	flex-grow: 1;
	background-color: $a-bit-blue-white;
	padding-bottom: 100px;

	&-step {
		display: none;
		padding-top: 20px;
		transition: opacity ease-out $tr;

		@media (min-width: $md) {
			padding-top: 39px
		}

		&.active {
			display: flex;
			flex: 1;

			.container {
				display: flex;
				flex-grow: 1
			}
		}

		&-0 {
			@media (min-width: $md) {
				padding-top: 76px
			}

			.new-memory-step-desc {
				font-size: 16px;
				margin-bottom: 16px;

				@media (min-width: $md) {
					font-size: $fs-lg;
					margin-bottom: 54px
				}
			}
		}

		&-1 {
			.new-memory-step-title {
				margin-bottom: 20px
			}

			.new-memory-step-desc {
				font-size: $fs-md;
				margin-bottom: 8px;

				@media (min-width: $md) {
					margin-bottom: 20px
				}
			}
		}

		&-2 .new-memory-step-desc,
		&-3 .new-memory-step-desc,
		&-5 .new-memory-step-desc {
			max-width: 630px
		}

		&-2 .new-memory-step-desc,
		&-3 .new-memory-step-desc,
		&-4 .new-memory-step-desc,
		&-5 .new-memory-step-desc {
			margin-bottom: 40px
		}

		&-suptitle {
			font-size: 13px;
			color: $green;
			margin-bottom: 8px;

			@media (min-width: $md) {
				font-size: $fs-lg;
				margin-bottom: 12px
			}
		}

		&-title {
			max-width: 810px;
			margin-bottom: 8px;

			@media (min-width: $md) {
				margin-bottom: 19px
			}

			h1 {
				@extend .h2
			}
		}

		&-desc {
			width: 100%;
			max-width: 738px;
			margin-bottom: 54px;
			opacity: 0.8
		}
	}

	legend {
		padding: 0;
		margin-bottom: 19px
	}

	.droparea-videos-load {
		.droparea-thumbs {
			padding-top: 0;

			&-text {
				text-align: center
			}

			&-list {
				min-height: 56px;
				gap: 4px;
			}
		}

		.droparea-thumb,
		.droparea-thumb-load {
			width: calc((50% - 6px) / 2);
			height: 56px
		}

		.droparea-thumb-load {
			&-text {
				display: none
			}

			svg {
				margin-bottom: 0
			}
		}
	}
}

.form-white {
	position: relative;
	width: 100%;
	max-width: 522px;
	flex-grow: 1;
	background-color: $white;
	padding: 20px 20px 36px 0;
	border-top-right-radius: $radius-theme;
	margin-top: 20px;

	@media (min-width: $md) {
		padding: 40px 109px 51px 0;
		margin-top: 40px
	}

	&::before {
		content: '';
		position: absolute;
		top: 0;
		right: 100%;
		width: 100px;
		height: 100%;
		background-color: $white;
		border-bottom-left-radius: $radius-theme;

		@media (min-width: $md) {
			width: calc((100vw - 720px) / 2)
		}

		@media (min-width: $lg) {
			width: calc((100vw - 950px) / 2 - 8px)
		}

		@media (min-width: $xl) {
			width: calc((100vw - 1280px) / 2 - 8px)
		}
	}

	.label-file {
		margin: 19px 0 0
	}
}

.legend-title {
	font-size: 24px;
	margin-right: 5px
}

.legend-subtitle {
	font-size: $fs-sm;
	color: #96AAAE;
	padding-bottom: 5px
}

.popup-sure {
	position: absolute;
	top: 100%;
	left: 50%;
	transform: translateX(-50%);
	min-width: 223px;
	background-color: $white;
	box-shadow: 3px 3px 6px 0 rgba(102, 119, 131, 0.10);
	border-radius: $radius-input;
	padding: 15px 20px 2px;
	z-index: 1;

	@media (min-width: $md) {
		top: 0;
		left: calc(100% + 9px);
		transform: none
	}

	&-text {
		font-size: $fs-sm;
		color: $very-dark-green;
		margin-bottom: 21px;
		text-align: center
	}

	&-buttons {
		justify-content: space-between;

		button {
			width: calc(50% - 4px);
			background-color: transparent;
			border: none;
			padding: 10px 12px;
			cursor: pointer;
			transition: opacity ease-out $tr;

			&:hover {
				opacity: 0.7
			}
		}
	}

	&-cancel {
		color: $dark-yellow
	}

	&-apply {
		color: $red
	}
}

.label-button {
	input[type='file'] {
		position: absolute;
		width: 0;
		height: 0;
		opacity: 0;
		z-index: -1
	}
}

.video-link {
	&-marker {
		font-size: $fs-sm;
		color: $green;
		margin: 16px 0;

		&-line {
			width: auto;
			height: 0.5px;
			flex-grow: 1;
			background-color: $light-blue
		}

		&-text {
			padding: 0 8px
		}
	}

	&-row {
		label {
			width: auto;
			flex-grow: 1;
			margin: 0 12px 0 0
		}

		input::placeholder {
			font-size: $fs-sm
		}
	}
}