@import '../components/vars';
@import '../components/typography';

@import '../new-memory/footer';

@import '../new-memory/step-0';

@import '../../../node_modules/cropperjs/dist/cropper.min';
@import '../new-memory/step-1';
@import '../new-memory/step-2';
@import '../new-memory/step-3';

.new-memory {
	flex-grow: 1;
	background-color: $a-bit-blue-white;
	padding-bottom: 87px;

	&-step {
		display: none;
		transition: opacity ease-out $tr;

		&.active {
			display: flex;
			flex: 1;

			.container {
				display: flex;
				flex-grow: 1
			}
		}

		&-0 .new-memory-step-desc {
			font-size: $fs-lg
		}

		&-1 .new-memory-step-desc {
			margin-bottom: 20px
		}

		&-2 .new-memory-step-desc,
		&-3 .new-memory-step-desc {
			max-width: 630px
		}

		&-3 .new-memory-step-desc,
		&-4 .new-memory-step-desc {
			margin-bottom: 40px
		}

		&-suptitle {
			font-size: $fs-lg;
			color: $green;
			margin-bottom: 12px
		}

		&-title {
			margin-bottom: 19px;

			h1 {
				@extend .h2
			}
		}

		&-desc {
			width: 100%;
			max-width: 503px;
			margin-bottom: 54px;
			opacity: 0.8
		}
	}

	.step-media {
		.form-white {
			max-width: 738px;
			padding: 45px 108px 47px 0;
			margin-top: 0
		}
	}
}

.form-white {
	position: relative;
	width: 100%;
	max-width: 522px;
	flex-grow: 1;
	background-color: $white;
	padding: 40px 109px 51px 0;
	border-top-right-radius: $radius-theme;
	margin-top: 40px;

	&::before {
		display: none;
		content: '';
		position: absolute;
		top: 0;
		right: 100%;
		width: calc((100vw - 720px) / 2);
		height: 100%;
		background-color: $white;
		border-bottom-left-radius: $radius-theme;

		@media (min-width: $md) {
			display: block
		}

		@media (min-width: $lg) {
			width: calc((100vw - 950px) / 2 - 8px)
		}

		@media (min-width: $xl) {
			width: calc((100vw - 1280px) / 2 - 8px)
		}
	}

	.label-file {
		margin: 19px 0 0
	}
}