@import '../components/vars';
@import '../components/typography';

@import '../new-memory/footer';

@import '../new-memory/step-0';

@import '../../../node_modules/cropperjs/dist/cropper.min';
@import '../new-memory/step-1';
@import '../new-memory/step-2';
@import '../new-memory/step-3';
@import '../new-memory/step-4';

.new-memory {
	flex-grow: 1;
	background-color: $a-bit-blue-white;
	padding-bottom: 87px;

	&-step {
		display: none;
		transition: opacity ease-out $tr;

		&.active {
			display: flex;
			flex: 1;

			.container {
				display: flex;
				flex-grow: 1
			}
		}

		&-0 .new-memory-step-desc {
			font-size: $fs-lg
		}

		&-1 .new-memory-step-desc {
			margin-bottom: 20px
		}

		&-2 .new-memory-step-desc,
		&-3 .new-memory-step-desc {
			max-width: 630px
		}

		&-3 .new-memory-step-desc,
		&-4 .new-memory-step-desc {
			margin-bottom: 40px
		}

		&-suptitle {
			font-size: $fs-lg;
			color: $green;
			margin-bottom: 12px
		}

		&-title {
			margin-bottom: 19px;

			h1 {
				@extend .h2
			}
		}

		&-desc {
			width: 100%;
			max-width: 503px;
			margin-bottom: 54px;
			opacity: 0.8
		}
	}

	.step-media {
		.form-white {
			max-width: 738px;
			padding: 45px 108px 47px 0;
			margin-top: 0
		}

		fieldset {
			margin-bottom: 40px
		}
	}

	legend {
		padding: 0;
		margin-bottom: 19px
	}
}

.form-white {
	position: relative;
	width: 100%;
	max-width: 522px;
	flex-grow: 1;
	background-color: $white;
	padding: 40px 109px 51px 0;
	border-top-right-radius: $radius-theme;
	margin-top: 40px;

	&::before {
		display: none;
		content: '';
		position: absolute;
		top: 0;
		right: 100%;
		width: calc((100vw - 720px) / 2);
		height: 100%;
		background-color: $white;
		border-bottom-left-radius: $radius-theme;

		@media (min-width: $md) {
			display: block
		}

		@media (min-width: $lg) {
			width: calc((100vw - 950px) / 2 - 8px)
		}

		@media (min-width: $xl) {
			width: calc((100vw - 1280px) / 2 - 8px)
		}
	}

	.label-file {
		margin: 19px 0 0
	}
}

.legend-title {
	font-size: 24px;
	margin-right: 5px
}

.legend-subtitle {
	font-size: $fs-sm;
	color: #96AAAE;
	padding-bottom: 5px
}

.droparea {
	position: relative;
	width: 100%;
	min-height: 300px;
	background-color: $white;
	border: 0.5px solid $very-dark-green;
	border-radius: 28px;
	padding: 10px 10px 28px;

	&.dragover {
		border: 1px solid $dark-yellow;
		background-color: #FCF9F3
	}

	&-icon {
		width: 100%;
		margin-bottom: 9px;

		svg {
			display: block
		}
	}

	&-title {
		width: 100%;
		font-size: $fs-lg;
		color: $very-dark-green;
		text-align: center;
		margin-bottom: 6px
	}

	&-desc {
		width: 100%;
		margin-bottom: 36px;

		p {
			font-size: $fs-sm;
			color: $green;
			text-align: center;

			&:not(:last-child) {
				margin-bottom: 4px
			}
		}
	}

	&-loader {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: $white;
		border-radius: inherit;
		padding-bottom: 21px;
		z-index: 5;

		&-percents {
			font-size: 32px;
			color: $very-dark-green;
			margin-bottom: 9px
		}

		&-note {
			font-size: $fs-lg;
			color: $very-dark-green;
			margin-bottom: 6px
		}

		&-cancel.btn {
			color: $red;
			padding: 14px 16px
		}

		progress {
			margin-bottom: 20px
		}
	}

	&-images,
	&-videos {
		width: 100%;
		gap: 20px;

		&-load {
			width: calc(50% - 10px);
			height: 240px;
			border-radius: 28px;
			border: 0.5px solid $very-dark-green;
			padding: 10px 10px 28px;

			svg {
				width: 48px;
				height: 48px;
				margin-bottom: 46px
			}
		}
	}

	&-img,
	&-video {
		&-loaded {
			position: relative;
			width: calc(50% - 10px);
			height: 240px;
			border-radius: 28px;

			img {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				object-fit: cover;
				object-position: center;
				border-radius: 28px
			}

			video {
				display: block;
				width: 100%;
				height: 100%;
				object-fit: cover
			}
		}

		&-delete {
			position: absolute;
			top: 20px;
			right: 20px;
			width: 34px;
			height: 34px;
			border-radius: 50%;
			color: #96AAAE;
			background-color: $white;
			cursor: pointer;
			transition: ease-out color $tr;

			svg {
				width: 24px;
				height: auto;
				pointer-events: none
			}

			&:hover {
				color: $red
			}
		}
	}

	&-video {
		&-wrapper {
			width: 100%;
			height: 180px;
			border-radius: 28px 28px 0 0;
			margin-bottom: 16px;

			video {
				border-radius: inherit
			}
		}

		&-title {
			margin-bottom: 2px
		}

		&-duration {
			font-size: $fs-sm;
			color: $green;
			padding-bottom: 4px
		}
	}

	&-thumbs {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		border-radius: inherit;
		background-color: $white;
		padding: 20px;

		&-text {
			font-size: $fs-lg;
			line-height: $lh-2;
			color: $very-dark-green;
			margin-bottom: 8px
		}

		&-list {
			width: 100%;
			min-height: 100px;
			margin-top: 20px;
			gap: 10px
		}
	}

	&-thumb,
	&-thumb-load {
		width: calc((100% - 30px) / 4);
		height: 100px;
		padding: 10px;
		border: 0.5px solid $very-dark-green;
		border-radius: 16px;
		transition:
			border-width ease-out $tr,
			border-color ease-out $tr
	}

	&-thumb.active {
		border: 2px solid $bright-yellow
	}

	&-thumb-load {
		cursor: pointer;
		transition: opacity ease-out $tr;

		&:hover {
			opacity: 0.7
		}

		&-text {
			display: block;
			font-size: $fs-xs;
			line-height: $lh-2;
			text-align: center;
			margin-top: 10px
		}

		svg {
			width: 24px;
			height: 24px
		}
	}

	progress {
		width: 100%;
		max-width: 245px;
		height: 8px;
		border: none;
		background-color: #EEF0F1;
		border-radius: 4px;
		color: $dark-yellow;

		// Chrome
		&::-webkit-progress-bar {
			background-color: #EEF0F1;
			border-radius: 4px
		}

		&::-webkit-progress-value {
			background-color: $dark-yellow;
			border-radius: 4px
		}

		// WebKit / Safari
		&[value] {
			background-color: #EEF0F1;
			border-radius: 4px;
			-webkit-appearance: none;

			&::-webkit-progress-value {
				background-color: $dark-yellow;
				border-radius: 4px
			}
		}

		// Firefox
		&::-moz-progress-bar {
			background-color: $dark-yellow;
			border-radius: 4px
		}
	}
}

.popup-sure {
	position: absolute;
	top: 0;
	left: calc(100% + 9px);
	min-width: 223px;
	background-color: $white;
	box-shadow: 3px 3px 6px 0 rgba(102, 119, 131, 0.10);
	border-radius: $radius-input;
	padding: 15px 20px 2px;
	z-index: 1;

	&-text {
		font-size: $fs-sm;
		color: $very-dark-green;
		margin-bottom: 21px;
		text-align: center
	}

	&-buttons {
		justify-content: space-between;

		button {
			width: calc(50% - 4px);
			background-color: transparent;
			border: none;
			padding: 10px 12px;
			cursor: pointer;
			transition: opacity ease-out $tr;

			&:hover {
				opacity: 0.7
			}
		}
	}

	&-cancel {
		color: $dark-yellow
	}

	&-apply {
		color: $red
	}
}

.notification {
	position: fixed;
	top: 250px;
	left: 100%;
	width: 100%;
	max-width: 490px;
	transition: transform ease-out $tr;
	border-radius: $radius-input;
	padding: 12px 16px 12px 38px;
	line-height: $lh-base;
	color: $very-dark-green;
	pointer-events: none;
	z-index: 10;

	&::before {
		content: '';
		position: absolute;
		top: 50%;
		left: 16px;
		transform: translateY(-50%);
		display: block;
		width: 16px;
		height: 16px;
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat
	}

	&.success {
		background-color: #E0F6DE;

		&::before {
			background-image: url('../../img/check-green.svg')
		}
	}

	&.error {
		background-color: #FED9CC;

		&::before {
			background-image: url('../../img/error-red.svg')
		}
	}

	&.warning {
		background-color: #FFF4CE;

		&::before {
			background-image: url('../../img/warning-yellow.svg')
		}
	}

	&.show {
		transform: translateX(-100%)
	}
}

.label-button {
	input[type="file"] {
		position: absolute;
		width: 0;
		height: 0;
		opacity: 0;
		z-index: -1
	}
}