@import '../components/vars/vars';

.order-created {
	&-title {
		margin-bottom: 16px
	}

	&-status {
		font-weight: $fw-bold;
		margin-bottom: 16px
	}

	&-ordered {
		line-height: $lh-fs-14;
		color: $border-primary-hover;
		margin-bottom: 16px
	}

	&-destination,
	&-customer {
		line-height: $lh-fs-14;
		color: $border-primary-hover;
		margin-bottom: 16px;

		h4 {
			color: $text-primary;
			margin-bottom: 8px
		}
	}

	&-customer {
		margin-bottom: 0
	}
}