@import '../components/vars';
@import '../components/forms';

.page-template-profile-settings {
	background-color: $a-bit-blue-white;
	overflow-x: hidden;

	.wrapper {
		overflow: visible
	}
}

.profile-settings {
	height: 100%;

	&-form {
		width: 100%;
		max-width: 656px;

		fieldset {
			margin-bottom: 16px;

			&:last-child {
				margin-bottom: 0
			}
		}

		legend {
			display: block;
			width: 100%;
			font-family: $ff-title;
			font-size: 24px;
			font-weight: $fw-semibold;
			line-height: 1.16;
			color: $very-dark-green;
			padding: 0;
			margin: 0 0 20px;
			float: left
		}
	}

	&-plan {
		width: 100%;
		max-width: 417px;
		margin-top: 16px
	}

	&-heading {
		display: block;
		width: 100%;
		font-family: $ff-title;
		font-size: 24px;
		font-weight: $fw-semibold;
		line-height: 1.16;
		color: $very-dark-green;
		margin: 0 0 32px
	}

	&-pages {
		column-gap: 20px;
		row-gap: 28px
	}
}

.profile-memory-preview {
	width: 100%;
	padding-bottom: 20px;
	margin-bottom: 24px;
	border-bottom: 0.5px solid rgba(5, 51, 48, 0.40);

	&:last-child {
		border-bottom: none;
		margin-bottom: 0
	}

	&-thumb {
		position: relative;
		width: 70px;
		height: 90px;
		border-radius: 35px;
		overflow: hidden;

		&::after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: linear-gradient(1deg, $very-dark-green 1.14%, rgba(1, 28, 26, 0) 63.47%)
		}

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			filter: grayscale(100%)
		}
	}

	&-info {
		width: calc(100% - 70px);	// Minus thumb width.
		padding-left: 20px;
		color: $very-dark-green
	}

	&-dates {
		font-size: 13px;
		line-height: 1.38;
		color: $dark-yellow;
		margin-bottom: 10px
	}

	&-name {
		font-family: $ff-title;
		font-size: $fs-lg;
		font-weight: $fw-semibold;
		line-height: $lh-1;
		padding-right: 34px;
		margin-bottom: 4px
	}

	&-bottom .btn {
		padding: 7px 12px 8px;
		margin-left: auto
	}

	&-type {
		width: 100%;
		font-size: 15px;
		line-height: $lh-5;
		margin-bottom: 12px;

		@media (min-width: $sm) {
			width: auto;
			margin-bottom: 0
		}
	}
}