@import '../components/vars';
@import '../components/memory/preview';

.page-template-profile-memories {
	background-color: $a-bit-blue-white;
	overflow-x: hidden;

	.wrapper {
		overflow: visible
	}

	.profile-memories.none {
		height: auto;
		margin-top: 100px;

		@media (min-width: $lg) {
			margin-top: 223px
		}
	}
}

.profile-memories {
	height: 100%;

	&-list {
		margin-top: 32px
	}
}