@import '../components/vars';
@import '../components/helpers';
@import '../components/buttons';
@import '../components/cards/memory-page/card';

.page-template-profile {
	background-color: $a-bit-blue-white;
	overflow-x: hidden;

	.wrapper {
		overflow: visible
	}
}

.profile {
	height: 100%;

	&-body,
	.expand-page {
		width: 100%;
		padding: 16px;

		@media (min-width: $md) {
			padding: 20px
		}

		@media (min-width: $xl) {
			width: calc(100% - 384px);
			padding: 28px 46px 42px
		}
	}

	&-memories {
		&.none {
			.profile-memories-title {
				margin-bottom: 100px;

				@media (min-width: $lg) {
					margin-bottom: 223px
				}
			}

			.profile-memories-inner {
				margin-bottom: 100px;

				@media (min-width: $lg) {
					margin-bottom: 223px
				}

				.profile-memories-title {
					font-size: $fs-xl;
					margin: 34px 0 36px;
					text-align: center;

					@media (min-width: $lg) {
						font-size: 38px
					}
				}
			}
		}

		&-img {
			width: 100%;
			max-width: 303px;

			img {
				display: block;
				width: 100%
			}
		}

		&-title {
			width: 100%;
			font-family: $ff-title;
			font-size: 24px;
			line-height: $lh-mobile-title-special-lg;
			font-weight: $fw-semibold;
			color: $very-dark-green;
			margin-bottom: 27px;
			gap: 10px;

			@media (min-width: $lg) {
				gap: 0
			}

			&-buttons {
				width: 100%;
				order: 1;
				padding-bottom: 10px;

				@media (min-width: $xl) {
					width: auto;
					order: 2;
					padding-bottom: 0
				}
			}

			&-text {
				width: 100%;
				padding-right: 26%;
				order: 2;

				@media (min-width: $xl) {
					width: auto;
					order: 1;
					padding-right: 0
				}

				.button-return {
					margin-bottom: 4px
				}
			}

			.btn {
				min-width: 221px
			}
		}

		&-list {
			gap: 16px;

			@media (min-width: $lg) {
				gap: 24px 20px
			}
		}

		.page-created {
			&-info {
				background-color: inherit;
				padding: 52px 33px 33px
			}

			&-thumb {
				width: 181px;
				height: 230px;
				transform: translateY(45px);

				@media (min-width: $xl) {
					width: 226px;
					height: 288px
				}

				&-border {
					border-color: #C3A195;

					span {
						position: absolute;
						font-size: 10px;
						line-height: normal;
						color: $white;
						background-color: #131414;
						padding: 0 9px;
						top: 0;
						left: 50%;
						transform: translate(-50%, -50%)
					}
				}

				&-img {
					width: 144px;
					height: 180px;

					@media (min-width: $xl) {
						width: 180px;
						height: 225px
					}
				}
			}

			&-fullname {
				position: relative;
				width: 100%;
				font-size: 26px;
				line-height: $lh-2;
				color: $light-green;
				padding: 0;
				margin: 0
			}

			&-firstname {
				text-align: center
			}

			&-lastname {
				width: 100%;
				text-align: center
			}

			&-dates {
				width: 100%;
				font-size: $fs-xs;
				font-weight: $fw-regular;
				line-height: $lh-5;
				color: $bright-yellow;
				margin-top: 8px;

				span {
					margin: 0 4px
				}
			}
		}
	}

	&-menu-button {
		color: $icon-accent-on-color;
		background-color: transparent;
		padding: 0;
		border: none;
		border-radius: 0;
		cursor: pointer;

		svg {
			display: block;
			width: 14px;
			height: 14px;
			margin-right: 12px
		}

		span {
			font-family: $ff;
			font-size: $fs-sm;
			line-height: $lh-fs-14;
			color: $text-primary
		}
	}
}

.sidebar {
	position: fixed;
	top: 0;
	left: 0;
	width: 285px;
	height: 100dvh;
	transform: translateX(-100%);
	background-color: $very-dark-green;
	z-index: 2;
	transition: transform ease-out $tr;

	@media (min-width: $xl) {
		position: relative;
		top: auto;
		left: auto;
		width: 384px;
		height: auto;
		transform: translateX(0)
	}

	&.show {
		transform: translateX(0);

		&::before {
			width: 200vw;
			opacity: 1
		}
	}

	&::before {
		content: '';
		position: fixed;
		top: 0;
		left: 0;
		width: 0;
		height: 100dvh;
		background-color: rgba(0, 0, 0, 0.3);
		opacity: 0;
		transition: opacity ease-out $tr;

		@media (min-width: $xl) {
			display: none
		}
	}

	&-inner {
		position: sticky;
		top: 0;
		flex-grow: 1;
		width: 100%;
		max-height: 100dvh;
		overflow-y: auto;
		padding: 26px 20px 20px;
		background-color: $very-dark-green;

		@media (min-width: $xl) {
			padding: 40px 46px
		}
	}

	&-header {
		margin-bottom: 38px;

		@media (min-width: $xl) {
			flex-flow: row wrap;
			justify-content: space-between;
			align-items: center
		}
	}

	&-footer {
		padding-top: 24px;
		margin-top: auto
	}

	.header-menu-button {
		color: $light-green
	}

	.header-logo {
		width: 104px
	}
}

.expand-page {
	.profile-memories-title {
		flex-direction: column;
		align-items: flex-start;

		&-buttons {
			order: 1
		}

		&-text {
			order: 2;
			margin-bottom: 17px
		}
	}

	.profile-breadcrumbs {
		order: 3;
		font-family: $ff;
		font-size: $fs-xs-alt;
		line-height: $lh-fs-13;
		font-weight: $fw-regular;
		color: $text-primary;

		a {
			color: $text-secondary;

			&:hover {
				color: $text-primary
			}
		}

		> *:not(:last-child) {
			position: relative;
			margin-right: 19px;

			&::after {
				content: '';
				position: absolute;
				top: 50%;
				left: 100%;
				transform: translate(8px, -1px);
				display: block;
				width: 3px;
				height: 3px;
				border-radius: 50%;
				background-color: $text-secondary
			}
		}
	}

	&-form {
		flex-wrap: wrap;
		gap: 20px 22px;

		@media (min-width: $lg) {
			flex-wrap: nowrap
		}

		&-left,
		&-right {
			width: 100%;
			max-width: 514px
		}

		&-left {
			@media (min-width: $lg) {
				max-width: 554px
			}
		}

		&-right {
			@media (min-width: $lg) {
				max-width: 404px
			}
		}

		fieldset {
			padding: 16px;
			margin-bottom: 20px;
			background-color: $white;
			border-radius: $rad-form-fieldset;

			@media (min-width: $lg) {
				padding: 24px
			}

			&:last-child {
				margin-bottom: 0
			}

			&.qr-wrap {
				padding: 0;
				overflow: hidden;
				margin-bottom: 24px
			}
		}

		legend,
		.legend {
			width: 100%;
			font-family: $ff-title;
			font-size: 24px;
			font-weight: $fw-semibold;
			line-height: 1.16;
			color: $very-dark-green;
			padding: 0;
			margin: 0 0 20px;
			float: left;

			svg {
				display: block;
				width: 20px;
				height: 20px;
				margin-left: 2px;
				transform: translateY(3px);

				@media (min-width: $md) {
					width: 30px;
					height: 30px;
					margin-left: 15px;
					transform: translateY(7px)
				}
			}
		}
	}
}

.advantages {
	gap: 8px;

	&:not(.pro) {
		border-bottom: 1px solid $border-primary-on-color;
		padding-bottom: 16px;
		margin-bottom: 16px
	}

	&-header {
		column-gap: 16px;
		margin-bottom: 16px;

		@media (min-width: $lg) {
			column-gap: 24px
		}

		&-img {
			width: 80px;
			height: 92px;

			img {
				display: block;
				width: 100%;
				height: 100%;
				object-fit: cover;
				border-radius: 100%
			}
		}

		&-title {
			width: calc(100% - 96px);
			font-size: 24px;
			line-height: $lh-mobile-title-special-lg;
			padding-right: 25px;

			@media (min-width: $lg) {
				width: calc(100% - 104px);
				padding-right: 54px
			}
		}
	}
}

.qr-image {
	position: relative;
	width: 107px;
	height: inherit;

	@media (min-width: $lg) {
		width: 131px
	}

	img {
		position: absolute;
		bottom: 0;
		left: 0;
		display: block;
		width: 100%;
		height: 100%;
		object-fit: cover
	}
}

.qr-body {
	width: calc(100% - 131px);
	padding: 24px 24px 24px 21px;

	@media (min-width: $lg) {
		width: calc(100% - 150px);
		padding-left: 19px
	}
}

.qr-title {
	font-size: 24px;
	margin-bottom: 12px;
	line-height: $lh-3
}

.qr-desc {
	font-size: $fs-sm-alt;
	line-height: $lh-tags-special
}

.qr-count {
	margin-bottom: 24px;

	&-qty {
		margin: 0 20px
	}
}