@import '../components/vars';
@import '../components/helpers';
@import '../components/buttons';
@import '../components/cards/memory-page/card';

.page-template-profile {
	background-color: $a-bit-blue-white;
	overflow-x: hidden;

	.wrapper {
		overflow: visible
	}
}

.profile {
	height: 100%;

	&-body {
		width: 100%;
		padding: 16px;

		@media (min-width: $md) {
			padding: 20px
		}

		@media (min-width: $xl) {
			width: calc(100% - 384px);
			padding: 28px 46px 42px
		}
	}

	&-memories {
		&.none {
			.profile-memories-title {
				margin-bottom: 100px;

				@media (min-width: $lg) {
					margin-bottom: 223px
				}
			}

			.profile-memories-inner {
				margin-bottom: 100px;

				@media (min-width: $lg) {
					margin-bottom: 223px
				}

				.profile-memories-title {
					font-size: $fs-xl;
					margin: 34px 0 36px;
					text-align: center;

					@media (min-width: $lg) {
						font-size: 38px
					}
				}
			}
		}

		&-img {
			width: 100%;
			max-width: 303px;

			img {
				display: block;
				width: 100%
			}
		}

		&-title {
			width: 100%;
			font-family: $ff-title;
			font-size: 24px;
			line-height: $lh-mobile-title-special-lg;
			font-weight: $fw-semibold;
			color: $very-dark-green;
			margin-bottom: 27px;
			gap: 10px;

			@media (min-width: $lg) {
				gap: 0
			}

			&-buttons {
				width: 100%;
				order: 1;
				padding-bottom: 10px;

				@media (min-width: $xl) {
					width: auto;
					order: 2;
					padding-bottom: 0
				}
			}

			&-text {
				width: 100%;
				padding-right: 26%;
				order: 2;

				@media (min-width: $xl) {
					width: auto;
					order: 1;
					padding-right: 0
				}
			}

			.btn {
				min-width: 221px
			}
		}

		&-list {
			gap: 16px;

			@media (min-width: $lg) {
				gap: 24px 20px
			}
		}

		.page-created {
			&-info {
				background-color: inherit;
				padding: 52px 33px 33px
			}

			&-thumb {
				width: 181px;
				height: 230px;
				transform: translateY(45px);

				@media (min-width: $xl) {
					width: 226px;
					height: 288px
				}

				&-border {
					border-color: #C3A195;

					span {
						position: absolute;
						font-size: 10px;
						line-height: normal;
						color: $white;
						background-color: #131414;
						padding: 0 9px;
						top: 0;
						left: 50%;
						transform: translate(-50%, -50%)
					}
				}

				&-img {
					width: 144px;
					height: 180px;

					@media (min-width: $xl) {
						width: 180px;
						height: 225px
					}
				}
			}

			&-fullname {
				position: relative;
				width: 100%;
				font-size: 26px;
				line-height: $lh-2;
				color: $light-green;
				padding: 0;
				margin: 0
			}

			&-firstname {
				text-align: center
			}

			&-lastname {
				width: 100%;
				text-align: center
			}

			&-dates {
				width: 100%;
				font-size: $fs-xs;
				font-weight: $fw-regular;
				line-height: $lh-5;
				color: $bright-yellow;
				margin-top: 8px;

				span {
					margin: 0 4px
				}
			}
		}
	}

	.menu-button {
		color: $icon-accent-on-color;
		background-color: transparent;
		padding: 0;
		border: none;
		border-radius: 0;
		cursor: pointer;

		@media (min-width: $xl) {
			display: none
		}

		svg {
			display: block;
			width: 14px;
			height: 14px;
			margin-right: 12px
		}

		span {
			font-family: $ff;
			font-size: $fs-sm;
			line-height: $lh-fs-14;
			color: $text-primary
		}
	}
}

.sidebar {
	position: fixed;
	top: 0;
	left: 0;
	width: 285px;
	height: 100dvh;
	transform: translateX(-100%);
	background-color: $very-dark-green;
	z-index: 2;
	transition: transform ease-out $tr;

	@media (min-width: $xl) {
		position: relative;
		top: auto;
		left: auto;
		width: 384px;
		height: auto;
		transform: translateX(0)
	}

	&.show {
		transform: translateX(0);

		&::before {
			width: 200vw;
			opacity: 1
		}
	}

	&::before {
		content: '';
		position: fixed;
		top: 0;
		left: 0;
		width: 0;
		height: 100dvh;
		background-color: rgba(0, 0, 0, 0.3);
		opacity: 0;
		transition: opacity ease-out $tr;

		@media (min-width: $xl) {
			display: none
		}
	}

	&-inner {
		position: sticky;
		top: 0;
		flex-grow: 1;
		width: 100%;
		max-height: 100dvh;
		overflow-y: auto;
		padding: 26px 20px 20px;
		background-color: $very-dark-green;

		@media (min-width: $xl) {
			padding: 40px 46px
		}
	}

	&-header {
		margin-bottom: 38px;

		@media (min-width: $xl) {
			flex-flow: row wrap;
			justify-content: space-between;
			align-items: center
		}

		&-return {
			font-size: 13px;
			line-height: $lh-fs-13;
			color: $text-accent-on-color;
			cursor: pointer;
			@include hover-opacity;

			@media (min-width: $xl) {
				display: none
			}
		}
	}

	&-footer {
		padding-top: 24px;
		margin-top: auto
	}

	.header-menu-button {
		color: $light-green
	}

	.header-logo {
		width: 104px
	}
}

.popup {
	display: flex;
	padding: 100px $container-padding;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 100;
	background-color: rgba(0, 0, 0, 0.81);
	cursor: pointer;
	overflow-y: auto;

	&-inner {
		position: relative;
		width: 100%;
		max-width: 572px;
		background-color: $white;
		border-radius: $radius-theme;
		overflow: hidden;
		cursor: auto;
		padding: 30px;
		margin: auto 0
	}

	&-close {
		position: absolute;
		top: 30px;
		right: 30px;
		display: block;
		width: 16px;
		height: 16px;
		border: none;
		background-color: transparent;
		padding: 0;
		cursor: pointer;
		transition: opacity ease-out $tr;

		&:hover {
			opacity: 0.7
		}

		svg {
			pointer-events: none
		}
	}

	&-header {
		padding-bottom: 30px;
		border-bottom: 1px solid #8FB7C5;

		&-thumb {
			position: relative;
			width: 70px;
			height: 90px;
			border-radius: 35px;
			overflow: hidden;
			background-color: $green;

			&::after {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background: linear-gradient( 2deg, $very-dark-green 0%, rgba(1, 28, 26, 0.00) 100%), transparent 50%
			}

			img {
				width: 100%;
				height: 100%;
				object-fit: cover
			}
		}

		&-info {
			width: calc(100% - 70px);	// Minus thumb width.
			padding-left: 20px
		}
	}

	&-name {
		width: 100%;
		font-family: $ff-title;
		font-size: $fs-lg;
		font-weight: $fw-semibold;
		color: $very-dark-green
	}

	&-dates {
		width: 100%;
		font-family: $ff-title;
		font-size: $fs-sm;
		line-height: 1.6;
		font-weight: $fw-regular;
		color: $dark-yellow;
		margin-top: 2px
	}

	&-features {
		margin-top: 20px;

		&-title {
			font-family: $ff-title;
			font-size: 24px;
			color: $very-dark-green;
			margin-bottom: 12px
		}

		&-list {
			gap: 8px;
			margin-bottom: 30px
		}
	}

	&-feature {
		font-size: $fs-sm;
		line-height: 2.21;
		color: $very-dark-green;
		padding: 0 12px;
		background-color: $a-bit-blue-white;
		border-radius: $radius-theme;

		&.highlighted {
			background-color: #E6FFF6
		}
	}

	&-promo {
		margin-bottom: 30px;

		label {
			width: calc(100% - 174px)
		}

		button {
			margin: 4px 0 0 auto
		}
	}

	&-total {
		margin-bottom: 26px;

		&-row {
			&:not(:last-child) {
				margin-bottom: 12px
			}

			&.final {
				.popup-total-text,
				.popup-total-price {
					color: $dark-yellow
				}
			}
		}

		&-text {
			color: #344948
		}

		&-price {
			color: $very-dark-green;
			margin-left: auto
		}
	}
}