@import '../components/vars';
@import '../components/buttons';
@import '../new-memory/step-6';
@import '../pages/memory';

.page-template-profile {
	background-color: $a-bit-blue-white;

	.header-logo {
		width: 104px
	}
}

.profile {
	&-sidebar {
		width: 384px;
		background-color: $very-dark-green;
		padding: 40px 46px;

		&-header {
			margin-bottom: 40px;

			.header-menu {
				width: auto
			}

			&.menu-visible .header-nav-wrap {
				visibility: visible;
				z-index: 10;
				pointer-events: auto
			}

			&.menu-opened {
				.header-nav-wrap {
					opacity: 1
				}

				.menu-item,
				.header-nav-icons a,
				.lang-item {
					opacity: 1;
					transform: translateY(0)
				}

				.header-menu-button {
					color: $dark-yellow;

					&-lines span {
						top: 6px;

						&:first-child {
							transform: rotate(45deg)
						}

						&:nth-child(2) {
							opacity: 0
						}

						&:last-child {
							transform: rotate(-45deg)
						}
					}
				}
			}
		}

		&-nav {
			li {
				width: 100%;
				margin-bottom: 8px;

				a {
					@extend .btn, .profile-nav
				}

				&.current-menu-item a {
					border-color: $dark-yellow
				}
			}
		}

		&-footer {
			margin-top: auto;

			.logout {
				width: 100%;
				background-color: transparent;
				padding: 24px;
			}
		}

		.header-menu-button {
			color: $light-green
		}
	}

	&-memories {
		width: calc(100% - 384px);
		padding: 28px 46px 42px;

		&.none {
			.profile-memories-inner {
				padding: 93px 0
			}
		}

		&-img {
			width: 303px;

			img {
				width: 100%
			}
		}

		&-title {
			font-family: $ff-title;
			font-size: 24px;
			line-height: 1.17;
			color: $very-dark-green;
			margin-bottom: 24px
		}

		&-list {
			gap: 24px 20px
		}

		.page-created {
			&-info {
				background-color: inherit;
				padding: 52px 33px 33px
			}

			&-thumb {
				width: 181px;
				height: 230px;
				transform: translateY(45px);

				@media (min-width: $xl) {
					width: 226px;
					height: 288px
				}

				&-border {
					border-color: #C3A195;

					span {
						position: absolute;
						font-size: 10px;
						line-height: normal;
						color: $white;
						background-color: #131414;
						padding: 0 9px;
						top: 0;
						left: 50%;
						transform: translate(-50%, -50%)
					}
				}

				&-img {
					width: 144px;
					height: 180px;

					@media (min-width: $xl) {
						width: 180px;
						height: 225px
					}
				}
			}

			&-fullname {
				position: relative;
				width: 100%;
				font-size: 26px;
				color: $light-green;
				padding: 0 13px;
				margin: 0
			}

			&-firstname {
				text-align: center
			}

			&-lastname {
				width: 100%;
				text-align: center
			}

			&-dates {
				width: 100%;
				font-size: $fs-xs;
				font-weight: $fw-regular;
				line-height: $lh-5;
				color: $bright-yellow;
				margin-top: 8px;

				span {
					margin: 0 4px
				}
			}
		}
	}

	.single-memory-thumb {
		&-border {
			top: -19px;
			left: 50%;
			width: calc(100% + 42px);
			height: calc(100% + 38px);

			&::after {
				background: linear-gradient(180deg, rgba(1, 28, 26, 0.21) 55.45%, $very-dark-green 76.13%)
			}
		}

		img {
			width: 120px;
			height: auto;
			border-radius: 95px;
			filter: grayscale(100%)
		}
	}
}

.memory-card {
	position: relative;
	width: 100%;
	min-height: 308px;
	background-color: $very-dark-green;
	border-radius: 30px;
	overflow: hidden;

	@media (min-width: $md) {
		width: calc(50% - 10px)
	}

	@media (min-width: $lg) {
		width: calc((100% - 40px) / 3)
	}

	&-create-text {
		height: 100%;
		font-size: $fs-xl;
		line-height: normal;
		color: $very-dark-green;
		padding: 20px;
		border: 1px solid $bright-yellow;
		border-radius: 19px;
		text-align: center;
		transition: opacity ease-out $tr;

		&:hover {
			opacity: 0.7
		}

		svg {
			display: block;
			width: 24px;
			height: 24px;
			margin-bottom: 12px
		}
	}

	&-bottom {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		padding: 24px 25px;
		background-color: inherit;
		opacity: 0;
		transform: translateY(30px);
		transition:
			transform ease-out $tr,
			opacity ease-out $tr;

		@media (min-width: $xl) {
			padding: 23px 30px 30px
		}

		.btn {
			color: $light-green
		}
	}

	&-watch {
		position: relative;
		flex-grow: 1;
		width: 100%;
		padding: 24px;

		&::after {
			content: '';
			position: absolute;
			bottom: 0;
			left: 50%;
			transform: translateX(-50%);
			width: 90%;
			height: 1px;
			background-color: rgba(195, 218, 226, 0.24)
		}
	}

	&-title {
		font-family: $ff-title;
		font-size: $fs-xl;
		line-height: 1;
		color: $very-dark-green;
		margin-bottom: 20px;

		@media (min-width: $xl) {
			margin-bottom: 29px
		}
	}

	&-actions {
		width: 100%;
		gap: 4px;
		padding-top: 24px;

		.btn {
			padding: 7px 20px 8px;
			background-color: transparent;

			&.lg {
				padding-left: 20px;
				padding-right: 20px
			}

			&.simple span {
				display: none;

				@media (min-width: $xl) {
					display: inline-block
				}
			}
		}
	}

	&.black {
		background-color: $theme-black;

		.single-memory-thumb-border::after {
			background: linear-gradient(180deg, rgba(19, 20, 20, 0) 55.45%, $theme-black 76.13%)
		}
	}

	&.red {
		background-color: $theme-red;

		.single-memory-thumb-border::after {
			background: linear-gradient(180deg, rgba(51, 4, 13, 0) 55.45%, $theme-red 76.13%)
		}
	}

	&.blue {
		background-color: $theme-blue;

		.single-memory-thumb-border::after {
			background: linear-gradient(180deg, rgba(6, 32, 83, 0) 55.45%, $theme-blue 76.13%)
		}
	}

	&:hover {
		.memory-card-bottom {
			opacity: 1;
			transform: translateY(0)
		}
	}
}

.popup {
	display: flex;
	padding: 100px $container-padding;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 100;
	background-color: rgba(0, 0, 0, 0.81);
	cursor: pointer;
	overflow-y: auto;

	&-inner {
		position: relative;
		width: 100%;
		max-width: 572px;
		background-color: $white;
		border-radius: $radius-theme;
		overflow: hidden;
		cursor: auto;
		padding: 30px;
		margin: auto 0
	}

	&-close {
		position: absolute;
		top: 30px;
		right: 30px;
		display: block;
		width: 16px;
		height: 16px;
		border: none;
		background-color: transparent;
		padding: 0;
		cursor: pointer;
		transition: opacity ease-out $tr;

		&:hover {
			opacity: 0.7
		}

		svg {
			pointer-events: none
		}
	}

	&-header {
		padding-bottom: 30px;
		border-bottom: 1px solid #8FB7C5;

		&-thumb {
			position: relative;
			width: 70px;
			height: 90px;
			border-radius: 35px;
			overflow: hidden;
			background-color: $green;

			&::after {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background: linear-gradient( 2deg, $very-dark-green 0%, rgba(1, 28, 26, 0.00) 100%), transparent 50%
			}

			img {
				width: 100%;
				height: 100%;
				object-fit: cover
			}
		}

		&-info {
			width: calc(100% - 70px);	// Minus thumb width.
			padding-left: 20px
		}
	}

	&-name {
		width: 100%;
		font-family: $ff-title;
		font-size: $fs-lg;
		font-weight: $fw-semibold;
		color: $very-dark-green
	}

	&-dates {
		width: 100%;
		font-family: $ff-title;
		font-size: $fs-sm;
		line-height: 1.6;
		font-weight: $fw-regular;
		color: $dark-yellow;
		margin-top: 2px
	}

	&-features {
		margin-top: 20px;

		&-title {
			font-family: $ff-title;
			font-size: 24px;
			color: $very-dark-green;
			margin-bottom: 12px
		}

		&-list {
			gap: 8px;
			margin-bottom: 30px
		}
	}

	&-feature {
		font-size: $fs-sm;
		line-height: 2.21;
		color: $very-dark-green;
		padding: 0 12px;
		background-color: $a-bit-blue-white;
		border-radius: $radius-theme;

		&.highlighted {
			background-color: #E6FFF6
		}
	}

	&-promo {
		margin-bottom: 30px;

		label {
			width: calc(100% - 174px)
		}

		button {
			margin: 4px 0 0 auto
		}
	}

	&-total {
		margin-bottom: 26px;

		&-row {
			&:not(:last-child) {
				margin-bottom: 12px
			}

			&.final {
				.popup-total-text,
				.popup-total-price {
					color: $dark-yellow
				}
			}
		}

		&-text {
			color: #344948
		}

		&-price {
			color: $very-dark-green;
			margin-left: auto
		}
	}
}