@import '../components/vars';

.tariff {
	background-color: $a-bit-blue-white;

	&-wrapper {
		color: $very-dark-green;
		padding-top: 38px
	}

	&-inner {
		margin-bottom: 30px
	}

	&-left {
		width: 100%;

		@media (min-width: $lg) {
			width: 48%
		}

		@media (min-width: $xl) {
			width: 630px
		}
	}

	&-right {
		position: fixed;
		top: 68px;
		left: 0;
		width: 100%;
		height: calc(100vh - 68px);
		overflow-y: auto;
		background-color: $a-bit-blue-white;
		padding-top: 30px;

		@media (min-width: $lg) {
			position: relative;
			top: auto;
			left: auto;
			width: 48%;
			height: auto;
			overflow-y: visible;
			background-color: transparent
		}

		@media (min-width: $xl) {
			width: 572px
		}
	}

	&-title {
		text-align: center;
		margin-bottom: 20px;

		@media (min-width: $lg) {
			text-align: left;
			margin-bottom: 37px
		}

		&.right {
			position: relative;
			padding: 0 40px;
			margin-bottom: 20px;

			@media (min-width: $lg) {
				margin-bottom: 28px
			}
		}
	}

	&-duration {
		justify-content: center;
		font-size: $fs-md;
		margin-bottom: 40px;

		@media (min-width: $lg) {
			justify-content: flex-start;
			font-size: $fs-lg;
			padding-left: 7px;
			margin-bottom: 31px
		}
	}

	&-plan {
		border: 1px solid #8FB7C5;
		border-radius: 30px;
		padding: 20px 20px 0;
		margin-bottom: 20px;
		cursor: pointer;
		background-color: transparent;
		transition:
			opacity ease-out $tr,
			background-color ease-out $tr,
			border-color ease-out $tr;
		overflow: hidden;

		@media (min-width: $lg) {
			padding: 17px 23px 28px 28px;
			margin-bottom: 25px
		}

		&:hover {
			opacity: 0.7
		}

		&.active {
			background-color: $white;
			border-color: $dark-yellow;

			.tariff-plan-feature.highlighted {
				background-color: #E6FFF6
			}
		}

		&-header {
			margin-bottom: 13px;

			@media (min-width: $lg) {
				margin-bottom: 16px
			}
		}

		&-title {
			font-family: $ff-title;
			font-size: 24px;
			font-weight: $fw-semibold
		}

		&-optimal {
			display: block;
			font-size: $fs-sm;
			color: $dark-yellow;

			@media (min-width: $lg) {
				display: inline-block;
				padding: 0 10px 3px 5px
			}
		}

		&-price {
			font-family: $ff-title;
			font-size: 30px;
			font-weight: $fw-semibold;
			color: $dark-yellow;
			margin-left: auto;

			@media (min-width: $lg) {
				font-weight: $fw-medium
			}
		}

		&-features {
			column-gap: 8.5px;
			row-gap: 8px
		}

		&-feature {
			font-family: $ff;
			font-size: $fs-sm;
			line-height: 2.21;
			padding: 0 12px;
			color: $very-dark-green;
			border-radius: $radius-theme;
			background-color: $a-bit-blue-white;
			text-align: left;
			transition: background-color ease-out $tr;

			&.highlighted {
				background-color: $white
			}
		}

		&-footer {
			position: relative;
			padding: 24px 0;
			margin-top: 20px;
			background-color: $white;
			z-index: 0;

			&::before,
			&::after {
				content: '';
				position: absolute;
				top: 0;
				left: 50%;
				transform: translateX(-50%);
				width: calc(100% + 60px)
			}

			&::before {
				height: 100%;
				background-color: $white;
				z-index: -1
			}

			&::after {
				height: 1px;
				background-color: #8FB7C5;
			}
		}
	}

	&-order {
		background-color: $white;
		border-radius: $radius-theme;
		padding: 30px 30px 100px;

		@media (min-width: $lg) {
			padding: 30px
		}

		&-thumb {
			position: relative;
			width: 70px;
			height: 90px;
			border-radius: 35px;
			overflow: hidden;

			&::after {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background: linear-gradient(1deg, $very-dark-green 1.14%, rgba(1, 28, 26, 0.00) 63.47%)
			}
		}

		&-header {
			border-bottom: 0.5px solid #8FB7C5;
			padding-bottom: 28px;
			margin-bottom: 30px;

			&-info {
				width: calc(100% - 70px);
				font-family: $ff-title;
				line-height: $lh-3;
				font-size: $fs-lg;
				font-weight: $fw-semibold;
				padding-left: 20px
			}
		}

		&-dates {
			font-size: $fs-sm;
			font-weight: $fw-regular;
			color: $dark-yellow;
			margin-top: 4px
		}

		&-rust {
			background-color: $a-bit-blue-white;
			border-radius: 30px;
			overflow: hidden;
			margin-bottom: 32px;

			&-image {
				position: relative;
				width: 100%;
				height: 246px;
				order: 2;

				@media (min-width: $lg) {
					width: 190px;
					height: auto;
					order: 1
				}

				img {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					object-fit: cover;
					object-position: top left
				}
			}

			&-body {
				width: 100%;
				padding: 30px 20px 20px;
				order: 1;

				@media (min-width: $lg) {
					width: calc(100% - 190px);
					padding: 35px 22px 30px 27px;
					order: 2
				}
			}

			&-text {
				text-align: center;
				margin-bottom: 21px;

				@media (min-width: $lg) {
					text-align: left
				}

				h1, h2, h3, h4, h5, h6 {
					line-height: 1;
					margin-bottom: 11px
				}

				p {
					color: #344948;
					line-height: 20px;
					padding: 0 32px;

					@media (min-width: $lg) {
						line-height: $lh-3;
						padding: 0
					}
				}
			}

			&-qr {
				position: relative;
				font-size: $fs-md;
				border-radius: 16px;
				padding: 27px 53px 26px 77px;
				overflow: hidden;
				z-index: 0;
				cursor: pointer;

				@media (min-width: $lg) {
					padding: 28px 53px 24px
				}

				&::before {
					content: '';
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					background: linear-gradient(74deg, $light-green 2.48%, rgba(195, 218, 226, 0) 55.6%);
					opacity: 0.5;
					z-index: -1
				}

				&.active {
					.tariff-order-rust-qr-checkbox svg {
						opacity: 1
					}
				}

				&-checkbox {
					position: absolute;
					top: 29px;
					left: 52px;
					display: flex;
					align-items: center;
					justify-content: center;
					width: 20px;
					height: 20px;

					@media (min-width: $lg) {
						left: 29px
					}

					&::before {
						content: '';
						width: 12px;
						height: 12px;
						border-radius: 2px;
						border: 1px solid $dark-yellow
					}

					svg {
						display: block;
						position: absolute;
						top: 50%;
						left: 50%;
						transform: translate(-50%, -50%);
						opacity: 0;
						transition: opacity ease-out $tr
					}
				}
			}
		}

		&-promo {
			margin-bottom: 28px;

			.label {
				max-width: 338px;
				margin-bottom: 20px;

				@media (min-width: $lg) {
					margin-bottom: 0
				}

				&-text {
					padding: 0 0 11px
				}
			}

			.btn {
				width: 100%;

				@media (min-width: $lg) {
					width: auto;
					min-width: 154px;
					margin-left: auto
				}
			}
		}

		&-row:not(:last-child) {
			margin-bottom: 9px
		}

		&-col {
			&:first-child {
				color: #344948
			}

			&:last-child {
				font-size: $fs-lg;
				color: $very-dark-green
			}

			&.total-name,
			&.total-price {
				color: $dark-yellow
			}
		}

		&-purchase {
			margin-top: 24px
		}
	}

	&-back {
		position: absolute;
		top: 10px;
		left: 20px;
		background-color: transparent;
		border: none;
		padding: 0;
		cursor: pointer
	}
}

.switch {
	position: relative;
	display: block;
	width: 44px;
	height: 24px;
	border: 1px solid $very-dark-green;
	border-radius: $radius-langs;
	margin: 0 10px;
	cursor: pointer;
	transition: border-color ease-out $tr;

	&::before {
		content: '';
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		left: 3px;
		width: 18px;
		height: 18px;
		background-color: $very-dark-green;
		border-radius: 50%;
		transition:
			left ease-out $tr,
			background-color ease-out $tr
	}

	&.active {
		border-color: $bright-yellow;

		&::before {
			left: calc(100% - 21px);
			background-color: $bright-yellow
		}
	}
}