$rad-memory-thumb		: 6px;
$rad-switch				: 8px;
$rad-btn				: 10px;
$rad-input				: 12px;
$rad-memory-page-card	: 30px;
$rad-form-fieldset		: 32px;
$rad-advantage			: 40px;
$rad-memory-card-thumb	: 120px;