$accent-bright				: #FFF851;
$accent						: #F7B941;
$accent-on-color			: #C69A39;
$accent-on-color-hover		: #AE8429;
$accent-on-color-pressed	: #936E1A;
$accent-04					: rgba(247, 185, 65, 0.40);

$light-pink					: #C3A195;

$border-accent				: $accent;
$border-accent-on-color		: $accent-on-color;
$border-primary				: rgba(5, 51, 48, 0.30);
$border-primary-on-color	: rgba(195, 218, 226, 0.24);
$border-primary-hover		: rgba(5, 51, 48, 0.85);
$border-danger				: rgba(247, 65, 65, 0.60);

$bg-accent-subdued-hover	: rgba(247, 185, 65, 0.12);
$bg-accent-subdued-pressed	: #F7E9CD;
$bg-brown-hover				: #ECDEBF;
$bg-secondary				: #011C1A;
$bg-primary					: #F7FAFC;
$bg-primary-enhanced		: #C3DAE2;
$bg-primary-hover			: $border-primary-on-color;
$bg-primary-pressed			: rgba(195, 218, 226, 0.40);
$bg-primary-on-color-hover	: rgba(195, 218, 226, 0.08);
$bg-primary-on-color-pressed: rgba(195, 218, 226, 0.12);
$bg-danger-subdued			: rgba(247, 65, 65, 0.08);
$bg-disabled				: rgba(5, 51, 48, 0.05);

$text-accent				: $accent;
$text-primary				: $bg-secondary;
$text-primary-on-color		: $bg-primary-enhanced;
$text-accent-on-color		: $accent-on-color;
$text-danger				: #F74141;
$text-disabled				: $border-primary;
$M3-sys-light-on-surface	: #1C1B1F;
$dark-green-400				: rgba(1, 28, 26, 0.4);
$dark-green-200				: rgba(1, 28, 26, 0.12);

$icon-accent				: $accent;
$icon-accent-on-color		: $accent-on-color;
$icon-primary				: $bg-secondary;
$icon-danger				: $text-danger;
$icon-secondary				: rgba(5, 51, 48, 0.4);
$icon-disabled				: rgba(5, 51, 48, 0.3);
$icon-disabled-on-color		: $border-primary-on-color;

$military					: #4C4636;