$accent					: #F7B941;
$accent-on-color		: #C69A39;
$accent-on-color-hover	: #AE8429;
$accent-on-color-pressed: #936E1A;
$accent-04				: rgba(247, 185, 65, 0.40);
$bg-disabled			: rgba(5, 51, 48, 0.05);