.header {
	padding: 20px;

	@media (min-width: $lg) {
		padding: 42px 99px
	}

	&.full {
		@media (min-width: $lg) {
			padding: 0 99px
		}

		.header-inner {
			border-bottom: 1px solid $light-blue;

			@media (min-width: $lg) {
				padding: 16px 0
			}
		}

		.header-logo {
			@media (min-width: $lg) {
				height: 68px;
				margin: 0 auto
			}
		}
	}

	&-logo {
		width: 104px;
		height: 68px;
		margin: 0 auto;

		@media (min-width: $lg) {
			width: 98px;
			height: auto;
			margin: 0
		}

		a {
			display: block;
			transition: opacity ease-out $tr;

			&:hover {
				opacity: 0.7
			}
		}

		img, svg {
			display: block;
			width: 100%;
			height: auto
		}
	}

	&-langs {
		margin-left: 25px;

		.lang-item {
			&:not(:last-child) {
				margin-right: 9px
			}

			&.current-lang a {
				opacity: 1
			}

			a {
				font-size: $fs-sm;
				color: $light-blue;
				opacity: 0.4;
				transition: opacity ease-out $tr;

				&:hover {
					opacity: 1
				}
			}
		}
	}

	.container {
		padding: 0
	}
}

body {
	&.theme-light {
		.header-logo img.light {
			display: none
		}

		.header-langs .lang-item a {
			color: $very-dark-green
		}
	}

	&.theme-dark {
		.header-logo img.dark {
			display: none
		}
	}
}