.header {
	padding: 20px;

	@media (min-width: $lg) {
		padding: 42px 20px
	}

	@media (min-width: $xl) {
		padding: 42px 99px
	}

	&.logo-only {
		.header-langs {
			position: relative;
			z-index: 1
		}
	}

	&.full {
		padding: 0 20px;

		@media (min-width: $lg) {
			padding: 0 99px
		}

		.header-inner {
			padding: 20px 0;
			border-bottom: 1px solid $light-blue;

			@media (min-width: $lg) {
				padding: 16px 0
			}
		}

		.header-logo {
			height: 18px;
			margin: 0 0 0 25px;
			z-index: 10;

			@media (min-width: $xl) {
				height: 68px;
				margin: 0 auto
			}

			a {
				height: 100%
			}

			img, svg {
				height: 100%;
				width: auto
			}
		}
	}

	&-logo {
		width: 104px;
		height: 68px;

		@media (min-width: $lg) {
			width: 98px;
			height: auto
		}

		a {
			display: block;
			transition: opacity ease-out $tr;

			&:hover {
				opacity: 0.7
			}
		}

		img, svg {
			display: block;
			width: 100%;
			height: auto
		}
	}

	&-actions {
		z-index: 10;

		@media (min-width: $xl) {
			width: 350px
		}
	}

	&-sign-in {
		font-size: $fs-sm;
		color: $black;
		margin-right: 27px;

		&:hover {
			color: $bright-yellow
		}
	}

	&-langs {
		margin-bottom: 60px;
		column-gap: 30px;
		z-index: 10;

		@media (min-width: $md) {
			column-gap: 15px;
			margin: 0 0 0 25px;

			@media (min-width: $xl) {
				column-gap: 9px
			}
		}

		.lang-item {
			opacity: 0;
			transform: translateY(25px);
			transition:
				opacity ease-out $tr,
				transform ease-out $tr;
			transition-delay: $tr;

			@media (min-width: $md) {
				opacity: 1;
				transform: none
			}

			&.current-lang a {
				opacity: 1
			}

			a {
				font-size: $fs-lg;
				color: $light-blue;
				opacity: 0.4;
				transition: opacity ease-out $tr;

				@media (min-width: $xl) {
					font-size: $fs-sm
				}

				&:hover {
					opacity: 1
				}
			}
		}
	}

	.container {
		padding: 0
	}
}

body {
	&.theme-light {
		.header-logo img.light {
			display: none
		}

		.header.menu-opened,
		.header-nav-wrap {
			.header-langs .lang-item a {
				color: $light-blue
			}
		}

		.header-langs .lang-item a {
			color: $very-dark-green
		}
	}

	&.theme-dark {
		.header-logo img.dark {
			display: none
		}

		.header-sign-in {
			color: $light-blue
		}
	}
}