.header {
	padding: 0 20px;

	@media (min-width: $lg) {
		padding: 0 99px
	}

	&.full {
		@media (min-width: $lg) {
			padding: 0 99px
		}

		.header-inner {
			padding: 20px 0;
			border-bottom: 1px solid $light-blue;

			@media (min-width: $lg) {
				padding: 16px 0
			}
		}

		.header-logo {
			height: 18px;
			margin: 0 0 0 25px;

			@media (min-width: $xl) {
				height: 68px;
				margin: 0 auto
			}

			a {
				height: 100%
			}

			img, svg {
				height: 100%;
				width: auto
			}
		}
	}

	&-logo {
		width: 104px;
		height: 68px;
		margin: 0 auto;

		@media (min-width: $lg) {
			width: 98px;
			height: auto;
			margin: 0
		}

		a {
			display: block;
			transition: opacity ease-out $tr;

			&:hover {
				opacity: 0.7
			}
		}

		img, svg {
			display: block;
			width: 100%;
			height: auto
		}
	}

	&-actions {
		@media (min-width: $xl) {
			width: 350px
		}
	}

	&-sign-in {
		font-size: $fs-sm;
		color: $black;
		margin-right: 27px;

		&:hover {
			color: $bright-yellow
		}
	}

	&-langs {
		margin-left: 25px;

		.lang-item {
			&:not(:last-child) {
				margin-right: 15px;

				@media (min-width: $xl) {
					margin-right: 9px
				}
			}

			&.current-lang a {
				opacity: 1
			}

			a {
				font-size: $fs-lg;
				color: $light-blue;
				opacity: 0.4;
				transition: opacity ease-out $tr;

				@media (min-width: $xl) {
					font-size: $fs-sm
				}

				&:hover {
					opacity: 1
				}
			}
		}
	}

	.container {
		padding: 0
	}
}

body {
	&.theme-light {
		.header-logo img.light {
			display: none
		}

		.header-langs .lang-item a {
			color: $very-dark-green
		}
	}

	&.theme-dark {
		.header-logo img.dark {
			display: none
		}

		.header-sign-in {
			color: $light-blue
		}
	}
}