.button {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	font-family: $ff;
	font-size: $fs-sm;
	font-weight: $fw-regular;
	line-height: $lh-2;
	color: $very-dark-green;
	border: none;
	border-radius: $rad-btn;
	padding: 0;
	transition:
		background-color ease-out $tr,
		border-color ease-out $tr,
		color ease-out $tr;
	cursor: pointer;

	&:focus {
		box-shadow: 0 0 0 3px $accent-04
	}
}