.button.primary {
	background-color: $accent-on-color;

	&:hover {
		background-color: $accent-on-color-hover
	}

	&:active {
		background-color: $accent-on-color-pressed
	}

	&:focus {
		box-shadow: 0 0 0 3px $accent-04
	}
}