.button {
	&.sm {
		min-height: 32px;
		padding: 6px 11px 7px
	}

	&.md {
		min-height: 40px;
		padding: 11px 19px 12px
	}

	&.lg {
		min-height: 48px;
		padding: 15px 20px 16px
	}

	&.min-width {
		@media (min-width: $md) {
			min-width: 226px
		}
	}
}