.button.switch {
	position: relative;
	width: 67.8px;
	font-size: $fs-sm;
	line-height: $lh-desktop-title-special;
	border-radius: $rad-switch;
	background-color: transparent;
	padding: 5.5px;
	white-space: nowrap;
	transition:
		color ease-out $tr,
		background-color ease-out $tr;

	&.md-h {
		padding: 9.5px
	}

	&.lg-h {
		padding: 13.5px
	}

	&.active {
		color: $text-primary-on-color;
		background-color: $bg-secondary
	}
}