:root {
    --c-darkgrey: #323232;
    --radius: 10px
}

* {
    box-sizing: border-box
}

.email-addresses {
    font-size: 14px
}

.wrap.email-addresses-wrap > h2.email-addresses-title {
    font-weight: 700;
    margin-bottom: 20px
}

.email-addresses-filters {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
    margin-bottom: 30px;
    background-color: #d0d0d0;
    padding: 10px;
    border-radius: var(--radius)
}

.email-addresses-filters fieldset {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 45%;
    flex-grow: 1;
    border: 1px solid var(--c-darkgrey);
    border-radius: var(--radius);
    padding: 10px
}

legend {
    display: block;
    width: 100%;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px
}

.email-addresses-filter {
    display: flex;
    align-items: center;
    column-gap: 5px;
    flex-grow: 1
}

.email-addresses-filter input[type="date"],
.email-addresses-filter select {
    flex-grow: 1
}

.email-addresses-submit {
    width: 100%
}

.email-addresses-row {
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid var(--c-darkgrey)
}

.email-addresses-row:first-child {
    border-top: 1px solid var(--c-darkgrey)
}

.email-addresses-row:first-child .email-addresses-col {
    justify-content: center;
    font-weight: 700
}

.email-addresses-row:nth-child(even) {
    background-color: #e1e1e1
}

.email-addresses-row:nth-child(odd) {
    background-color: #d0d0d0
}

.email-addresses-col {
    display: flex;
    align-items: center;
    width: 19%;
    border-right: 1px solid var(--c-darkgrey);
    padding: 10px
}

.email-addresses-col:first-child {
    width: 5%;
    padding: 10px 0;
    justify-content: center;
    border-left: 1px solid var(--c-darkgrey)
}

.download-form {
    margin-top: 20px
}
